# Configuration file

##########################################################################################################
# worldgen chances
#--------------------------------------------------------------------------------------------------------#
# The chance that each worldgen will generate. You can set this to 0 to disable the worldgen or use the dimension black/white list. 1 = all over, 0.04 fairly rare.
##########################################################################################################

"worldgen chances" {
    # In COLD and SNOWY tagged biomes, this chance becomes 1 and lakes can appear above ground.
    D:"Ooze Lakes Chance"=0.04
}


"worldgen dimensions" {
    S:"Ooze Lakes Dimensions"=-1, 1
    B:"Ooze Lakes Dimensions Whitelist Mode"=false
}


