/asm
/backpacks
/blueprints
/backups
/journeymap
/coremods
/crash-reports
/dumps
/fonts
/imcScripts
/MineMenu
/logs
/screenshots
/SCRIPT BACKUP
/mods
/reports
/resourcepacks
/saves
/OpenComputersMod-1.5.22.46-lua53-native.64.dll
/options.txt
/README.md
/servers.dat
/SupplyCrateLoop.zs
/SupplyCrateLoopBiblio.zs
/SupplyCrateLoopMagicalCrops.zs
/SupplyCrateLoopPlants.zs
/tailslibrary.json
/usercache.json
/usernamecache.json
/server-resource-packs
/src
/TCNodeTracker
/texturepacks
/BotaniaVars.dat
/hs_err_pid29752.log
/icon.png
/loading-log.log
/minetweaker.log
/OpenComputersMod-1.5.22.46-lua52-native.64.dll
/armourersWorkshop
/.analytics
/OpenComputersMod-1.6.0.7-rc.1-lua52-native.64.dll
/OpenComputersMod-1.6.0.7-rc.1-lua53-native.64.dll
/WorkWorld8/region
/WorkWorld8

config/AppliedEnergistics2/recipes/items\.csv

config/AppliedEnergistics2/VersionChecker\.cfg

config/fastcraft\.ini

config/Guide-API/Guide-API\.cfg

config/hqm/quests\.hqm-backup

config/iChunUtil\.cfg

config/IguanaTinkerTweaks/restrictions\.cfg

config/INpureProjects/logs/debug\.log

config/InvTweaks\.cfg

config/ProjectE/custom_emc\.cfg

config/splash\.properties

config/startingInventory\.txt

ftbutil-backups/2019-04-26-10-09-37/backup\.zip

ftbutil-backups/2019-04-26-11-09-37/backup\.zip

ftbutil-backups/2019-04-26-12-09-37/backup\.zip

ftbutil-backups/2019-04-26-13-09-37/backup\.zip

ftbutil-backups/2019-04-26-14-09-37/backup\.zip

ftbutil-backups/2019-04-26-15-09-37/backup\.zip

ftbutil-backups/2019-04-26-16-09-37/backup\.zip

ftbutil-backups/2019-04-26-17-09-37/backup\.zip

ftbutil-backups/2019-04-26-18-09-37/backup\.zip

ftbutil-backups/2019-04-26-19-09-37/backup\.zip

hs_err_pid10396\.log

hs_err_pid1248\.log

hs_err_pid16396\.log

hs_err_pid62860\.log

OpenComputersMod-1\.7\.1\.1127-lua52-native\.64\.dll

OpenComputersMod-1\.7\.1\.1127-lua53-native\.64\.dll

QuestingParties\.json

QuestProgress\.json
/ftbutil-backups

\.curseclient
