# Configuration file

##########################################################################################################
# area limits
#--------------------------------------------------------------------------------------------------------#
# Sets how many of each mob is allowed to naturally spawn near each other.
##########################################################################################################

"area limits" {
    I:"Asmodi Area Limit"=1
    I:"Behemoth Area Limit"=3
    I:"Belph Area Limit"=5
    I:"Cacodemon Area Limit"=3
    I:"Nether Soul Area Limit"=4
    I:"Pinky Area Limit"=2
    I:"Trite Area Limit"=9
}


##########################################################################################################
# block costs
#--------------------------------------------------------------------------------------------------------#
# Only used by certain spawners. Sets how many blocks are required for spawning, such as how many blocks of Fire a Cinder requires.
##########################################################################################################

"block costs" {
    I:"Asmodi Block Cost"=1
    I:"Behemoth Block Cost"=1
    I:"Belph Block Cost"=1
    I:"Cacodemon Block Cost"=1
    I:"Nether Soul Block Cost"=1
    I:"Pinky Block Cost"=1
    I:"Trite Block Cost"=1
}


##########################################################################################################
# despawning
#--------------------------------------------------------------------------------------------------------#
# Forces a mob to despawn naturally (unless tamed). Some farmable mobs such as Pinkies ignore their Natural Despawning setting once they've been fed or moved out of their home dimension.
##########################################################################################################

despawning {
    B:"Asmodi Forced Despawning"=false
    B:"Asmodi Natural Despawning"=true
    B:"Behemoth Forced Despawning"=false
    B:"Behemoth Natural Despawning"=true
    B:"Belph Forced Despawning"=false
    B:"Belph Natural Despawning"=true
    B:"Cacodemon Forced Despawning"=false
    B:"Cacodemon Natural Despawning"=true
    B:"Nether Soul Forced Despawning"=false
    B:"Nether Soul Natural Despawning"=true
    B:"Pinky Forced Despawning"=false
    B:"Pinky Natural Despawning"=true
    B:"Trite Forced Despawning"=false
    B:"Trite Natural Despawning"=true
}


##########################################################################################################
# dungeon weights
#--------------------------------------------------------------------------------------------------------#
# The higher the weight, the more likely this mob will appear in random dungeon spawners. Vanilla Zombie have a dungeon weight of 200.
##########################################################################################################

"dungeon weights" {
    D:"Asmodi Dungeon Weight"=40.0
    D:"Behemoth Dungeon Weight"=40.0
    D:"Belph Dungeon Weight"=200.0
    D:"Cacodemon Dungeon Weight"=80.0
    D:"Nether Soul Dungeon Weight"=120.0
    D:"Pinky Dungeon Weight"=120.0
    D:"Trite Dungeon Weight"=200.0
}


##########################################################################################################
# enabled spawns
#--------------------------------------------------------------------------------------------------------#
# Set to false to prevent mobs from spawning naturally at all.
##########################################################################################################

"enabled spawns" {
    B:"Asmodi Spawning Enabled"=true
    B:"Behemoth Spawning Enabled"=true
    B:"Belph Spawning Enabled"=true
    B:"Cacodemon Spawning Enabled"=true
    B:"Nether Soul Spawning Enabled"=true
    B:"Pinky Spawning Enabled"=true
    B:"Trite Spawning Enabled"=true
}


##########################################################################################################
# group settings
#--------------------------------------------------------------------------------------------------------#
# Here you can set the spawning settings for all mobs in this group that use the GROUP tag.
##########################################################################################################

"group settings" {
    S:"Demon Mobs Spawn Biomes"=NETHER
    S:"Demon Mobs Spawn Dimensions"=-1
}


##########################################################################################################
# group sizes
#--------------------------------------------------------------------------------------------------------#
# Sets the minimum and maximum random size of a group spawned. Note with the vanilla spawn, large groups can reduce the spawning odds in biomes with lots trees, etc.
##########################################################################################################

"group sizes" {
    I:"Asmodi Group Max"=1
    I:"Asmodi Group Min"=1
    I:"Behemoth Group Max"=1
    I:"Behemoth Group Min"=1
    I:"Belph Group Max"=2
    I:"Belph Group Min"=1
    I:"Cacodemon Group Max"=1
    I:"Cacodemon Group Min"=1
    I:"Nether Soul Group Max"=2
    I:"Nether Soul Group Min"=1
    I:"Pinky Group Max"=2
    I:"Pinky Group Min"=1
    I:"Trite Group Max"=3
    I:"Trite Group Min"=1
}


##########################################################################################################
# spawn biomes
#--------------------------------------------------------------------------------------------------------#
# Sets which biomes this mob spawns in using Biome Tags. Multiple entries should be comma separated and can be subtractive if provided with a - in front.
##########################################################################################################

"spawn biomes" {
    S:"Asmodi Spawn Biomes"=GROUP
    S:"Behemoth Spawn Biomes"=GROUP
    S:"Belph Spawn Biomes"=GROUP
    S:"Cacodemon Spawn Biomes"=GROUP
    S:"Nether Soul Spawn Biomes"=GROUP
    S:"Pinky Spawn Biomes"=GROUP
    S:"Trite Spawn Biomes"=GROUP
}


##########################################################################################################
# spawn chances
#--------------------------------------------------------------------------------------------------------#
# Adds a forced spawn fail chance. A chance of 1.0 (100%) means that the mob will always spawn. A chance of 0.5 means it will have a 50% chance of spawning. Use this as a last resort as a failed spawn still takes up a spawning oppotunity.
##########################################################################################################

"spawn chances" {
    D:"Asmodi Spawn Chance"=1.0
    D:"Behemoth Spawn Chance"=1.0
    D:"Belph Spawn Chance"=1.0
    D:"Cacodemon Spawn Chance"=1.0
    D:"Nether Soul Spawn Chance"=1.0
    D:"Pinky Spawn Chance"=1.0
    D:"Trite Spawn Chance"=1.0
}


##########################################################################################################
# spawn dimensions
#--------------------------------------------------------------------------------------------------------#
# Sets which dimensions mobs spawn in. You may enter dimension IDs or tags such as: ALL, VANILLA or GROUP. Multiple entries should be comma separated.
##########################################################################################################

"spawn dimensions" {
    S:"Asmodi Spawn Dimensions"=GROUP
    S:"Behemoth Spawn Dimensions"=GROUP
    S:"Belph Spawn Dimensions"=GROUP
    S:"Cacodemon Spawn Dimensions"=GROUP
    S:"Nether Soul Spawn Dimensions"=GROUP
    S:"Pinky Spawn Dimensions"=GROUP
    S:"Trite Spawn Dimensions"=GROUP
}


##########################################################################################################
# spawn types
#--------------------------------------------------------------------------------------------------------#
# Specifies how this mob spawns, multiple entries should be comma separated. Valid types are: MONSTER, CREATURE, WATERCREATURE, FIRE, FROSTFIRE, LAVA, ROCK, STORM. More will likely be added too.
##########################################################################################################

"spawn types" {
    S:"Asmodi Spawn Types"=MONSTER, PORTAL
    S:"Behemoth Spawn Types"=MONSTER, PORTAL
    S:"Belph Spawn Types"=MONSTER, PORTAL
    S:"Cacodemon Spawn Types"=MONSTER, PORTAL
    S:"Nether Soul Spawn Types"=MONSTER, PORTAL
    S:"Pinky Spawn Types"=MONSTER, PORTAL
    S:"Trite Spawn Types"=MONSTER, PORTAL
}


##########################################################################################################
# spawn weights
#--------------------------------------------------------------------------------------------------------#
# The higher the weight, the more likely the mob will spawn randomly instead of others. Vanilla Zombies have a weight of 8.
##########################################################################################################

"spawn weights" {
    D:"Asmodi Spawn Weight"=4.0
    D:"Behemoth Spawn Weight"=4.0
    D:"Belph Spawn Weight"=7.0
    D:"Cacodemon Spawn Weight"=2.0
    D:"Nether Soul Spawn Weight"=2.0
    D:"Pinky Spawn Weight"=3.0
    D:"Trite Spawn Weight"=7.0
}


