# Configuration file

##########################################################################################################
# area limits
#--------------------------------------------------------------------------------------------------------#
# Sets how many of each mob is allowed to naturally spawn near each other.
##########################################################################################################

"area limits" {
    I:"Clink Area Limit"=5
    I:"Crusk Area Limit"=1
    I:"Crypt Zombie Area Limit"=5
    I:"Erepede Area Limit"=2
    I:"Gorgomite Area Limit"=8
    I:"Joust Alpha Area Limit"=2
    I:"Joust Area Limit"=4
    I:"Manticore Area Limit"=4
}


##########################################################################################################
# block costs
#--------------------------------------------------------------------------------------------------------#
# Only used by certain spawners. Sets how many blocks are required for spawning, such as how many blocks of Fire a Cinder requires.
##########################################################################################################

"block costs" {
    I:"Clink Block Cost"=1
    I:"Crusk Block Cost"=1
    I:"Crypt Zombie Block Cost"=1
    I:"Erepede Block Cost"=1
    I:"Gorgomite Block Cost"=1
    I:"Joust Alpha Block Cost"=1
    I:"Joust Block Cost"=1
    I:"Manticore Block Cost"=1
}


##########################################################################################################
# despawning
#--------------------------------------------------------------------------------------------------------#
# Forces a mob to despawn naturally (unless tamed). Some farmable mobs such as Pinkies ignore their Natural Despawning setting once they've been fed or moved out of their home dimension.
##########################################################################################################

despawning {
    B:"Clink Forced Despawning"=false
    B:"Clink Natural Despawning"=true
    B:"Crusk Forced Despawning"=false
    B:"Crusk Natural Despawning"=true
    B:"Crypt Zombie Forced Despawning"=false
    B:"Crypt Zombie Natural Despawning"=true
    B:"Erepede Forced Despawning"=false
    B:"Erepede Natural Despawning"=true
    B:"Gorgomite Forced Despawning"=false
    B:"Gorgomite Natural Despawning"=true
    B:"Joust Alpha Forced Despawning"=false
    B:"Joust Alpha Natural Despawning"=false
    B:"Joust Forced Despawning"=false
    B:"Joust Natural Despawning"=false
    B:"Manticore Forced Despawning"=false
    B:"Manticore Natural Despawning"=true
}


##########################################################################################################
# dungeon weights
#--------------------------------------------------------------------------------------------------------#
# The higher the weight, the more likely this mob will appear in random dungeon spawners. Vanilla Zombie have a dungeon weight of 200.
##########################################################################################################

"dungeon weights" {
    D:"Clink Dungeon Weight"=80.0
    D:"Crusk Dungeon Weight"=30.0
    D:"Crypt Zombie Dungeon Weight"=120.0
    D:"Erepede Dungeon Weight"=40.0
    D:"Gorgomite Dungeon Weight"=110.0
    D:"Joust Alpha Dungeon Weight"=0.0
    D:"Joust Dungeon Weight"=0.0
    D:"Manticore Dungeon Weight"=59.0
}


##########################################################################################################
# enabled spawns
#--------------------------------------------------------------------------------------------------------#
# Set to false to prevent mobs from spawning naturally at all.
##########################################################################################################

"enabled spawns" {
    B:"Clink Spawning Enabled"=true
    B:"Crusk Spawning Enabled"=true
    B:"Crypt Zombie Spawning Enabled"=true
    B:"Erepede Spawning Enabled"=true
    B:"Gorgomite Spawning Enabled"=true
    B:"Joust Alpha Spawning Enabled"=true
    B:"Joust Spawning Enabled"=true
    B:"Manticore Spawning Enabled"=true
}


##########################################################################################################
# group settings
#--------------------------------------------------------------------------------------------------------#
# Here you can set the spawning settings for all mobs in this group that use the GROUP tag.
##########################################################################################################

"group settings" {
    S:"Desert Mobs Spawn Biomes"=SANDY, WASTELAND, MESA, -COLD
    S:"Desert Mobs Spawn Dimensions"=0
}


##########################################################################################################
# group sizes
#--------------------------------------------------------------------------------------------------------#
# Sets the minimum and maximum random size of a group spawned. Note with the vanilla spawn, large groups can reduce the spawning odds in biomes with lots trees, etc.
##########################################################################################################

"group sizes" {
    I:"Clink Group Max"=2
    I:"Clink Group Min"=1
    I:"Crusk Group Max"=1
    I:"Crusk Group Min"=1
    I:"Crypt Zombie Group Max"=2
    I:"Crypt Zombie Group Min"=1
    I:"Erepede Group Max"=1
    I:"Erepede Group Min"=1
    I:"Gorgomite Group Max"=2
    I:"Gorgomite Group Min"=1
    I:"Joust Alpha Group Max"=1
    I:"Joust Alpha Group Min"=1
    I:"Joust Group Max"=3
    I:"Joust Group Min"=1
    I:"Manticore Group Max"=3
    I:"Manticore Group Min"=1
}


##########################################################################################################
# spawn biomes
#--------------------------------------------------------------------------------------------------------#
# Sets which biomes this mob spawns in using Biome Tags. Multiple entries should be comma separated and can be subtractive if provided with a - in front.
##########################################################################################################

"spawn biomes" {
    S:"Clink Spawn Biomes"=GROUP
    S:"Crusk Spawn Biomes"=GROUP
    S:"Crypt Zombie Spawn Biomes"=GROUP
    S:"Erepede Spawn Biomes"=GROUP
    S:"Gorgomite Spawn Biomes"=GROUP
    S:"Joust Alpha Spawn Biomes"=GROUP
    S:"Joust Spawn Biomes"=GROUP
    S:"Manticore Spawn Biomes"=GROUP
}


##########################################################################################################
# spawn chances
#--------------------------------------------------------------------------------------------------------#
# Adds a forced spawn fail chance. A chance of 1.0 (100%) means that the mob will always spawn. A chance of 0.5 means it will have a 50% chance of spawning. Use this as a last resort as a failed spawn still takes up a spawning oppotunity.
##########################################################################################################

"spawn chances" {
    D:"Clink Spawn Chance"=1.0
    D:"Crusk Spawn Chance"=1.0
    D:"Crypt Zombie Spawn Chance"=1.0
    D:"Erepede Spawn Chance"=1.0
    D:"Gorgomite Spawn Chance"=1.0
    D:"Joust Alpha Spawn Chance"=1.0
    D:"Joust Spawn Chance"=1.0
    D:"Manticore Spawn Chance"=1.0
}


##########################################################################################################
# spawn dimensions
#--------------------------------------------------------------------------------------------------------#
# Sets which dimensions mobs spawn in. You may enter dimension IDs or tags such as: ALL, VANILLA or GROUP. Multiple entries should be comma separated.
##########################################################################################################

"spawn dimensions" {
    S:"Clink Spawn Dimensions"=GROUP
    S:"Crusk Spawn Dimensions"=GROUP
    S:"Crypt Zombie Spawn Dimensions"=GROUP
    S:"Erepede Spawn Dimensions"=GROUP
    S:"Gorgomite Spawn Dimensions"=GROUP
    S:"Joust Alpha Spawn Dimensions"=GROUP
    S:"Joust Spawn Dimensions"=GROUP
    S:"Manticore Spawn Dimensions"=GROUP
}


##########################################################################################################
# spawn types
#--------------------------------------------------------------------------------------------------------#
# Specifies how this mob spawns, multiple entries should be comma separated. Valid types are: MONSTER, CREATURE, WATERCREATURE, FIRE, FROSTFIRE, LAVA, ROCK, STORM. More will likely be added too.
##########################################################################################################

"spawn types" {
    S:"Clink Spawn Types"=MONSTER
    S:"Crusk Spawn Types"=MONSTER
    S:"Crypt Zombie Spawn Types"=MONSTER
    S:"Erepede Spawn Types"=MONSTER
    S:"Gorgomite Spawn Types"=MONSTER
    S:"Joust Alpha Spawn Types"=CREATURE
    S:"Joust Spawn Types"=CREATURE
    S:"Manticore Spawn Types"=MONSTER
}


##########################################################################################################
# spawn weights
#--------------------------------------------------------------------------------------------------------#
# The higher the weight, the more likely the mob will spawn randomly instead of others. Vanilla Zombies have a weight of 8.
##########################################################################################################

"spawn weights" {
    D:"Clink Spawn Weight"=3.0
    D:"Crusk Spawn Weight"=1.0
    D:"Crypt Zombie Spawn Weight"=3.0
    D:"Erepede Spawn Weight"=2.0
    D:"Gorgomite Spawn Weight"=3.0
    D:"Joust Alpha Spawn Weight"=1.0
    D:"Joust Spawn Weight"=2.0
    D:"Manticore Spawn Weight"=2.0
}


