# Configuration file

##########################################################################################################
# area limits
#--------------------------------------------------------------------------------------------------------#
# Sets how many of each mob is allowed to naturally spawn near each other.
##########################################################################################################

"area limits" {
    I:"Geonach Area Limit"=2
    I:"Jabberwock Area Limit"=4
    I:"Troll Area Limit"=1
    I:"Yale Area Limit"=1
}


##########################################################################################################
# block costs
#--------------------------------------------------------------------------------------------------------#
# Only used by certain spawners. Sets how many blocks are required for spawning, such as how many blocks of Fire a Cinder requires.
##########################################################################################################

"block costs" {
    I:"Geonach Block Cost"=1
    I:"Jabberwock Block Cost"=1
    I:"Troll Block Cost"=1
    I:"Yale Block Cost"=1
}


##########################################################################################################
# despawning
#--------------------------------------------------------------------------------------------------------#
# Forces a mob to despawn naturally (unless tamed). Some farmable mobs such as Pinkies ignore their Natural Despawning setting once they've been fed or moved out of their home dimension.
##########################################################################################################

despawning {
    B:"Geonach Forced Despawning"=false
    B:"Geonach Natural Despawning"=true
    B:"Jabberwock Forced Despawning"=false
    B:"Jabberwock Natural Despawning"=true
    B:"Troll Forced Despawning"=false
    B:"Troll Natural Despawning"=true
    B:"Yale Forced Despawning"=false
    B:"Yale Natural Despawning"=false
}


##########################################################################################################
# dungeon weights
#--------------------------------------------------------------------------------------------------------#
# The higher the weight, the more likely this mob will appear in random dungeon spawners. Vanilla Zombie have a dungeon weight of 200.
##########################################################################################################

"dungeon weights" {
    D:"Geonach Dungeon Weight"=60.0
    D:"Jabberwock Dungeon Weight"=120.0
    D:"Troll Dungeon Weight"=30.0
    D:"Yale Dungeon Weight"=0.0
}


##########################################################################################################
# enabled spawns
#--------------------------------------------------------------------------------------------------------#
# Set to false to prevent mobs from spawning naturally at all.
##########################################################################################################

"enabled spawns" {
    B:"Geonach Spawning Enabled"=false
    B:"Jabberwock Spawning Enabled"=true
    B:"Troll Spawning Enabled"=true
    B:"Yale Spawning Enabled"=true
}


##########################################################################################################
# group settings
#--------------------------------------------------------------------------------------------------------#
# Here you can set the spawning settings for all mobs in this group that use the GROUP tag.
##########################################################################################################

"group settings" {
    S:"Mountain Mobs Spawn Biomes"=MOUNTAIN
    S:"Mountain Mobs Spawn Dimensions"=0
}


##########################################################################################################
# group sizes
#--------------------------------------------------------------------------------------------------------#
# Sets the minimum and maximum random size of a group spawned. Note with the vanilla spawn, large groups can reduce the spawning odds in biomes with lots trees, etc.
##########################################################################################################

"group sizes" {
    I:"Geonach Group Max"=1
    I:"Geonach Group Min"=1
    I:"Jabberwock Group Max"=2
    I:"Jabberwock Group Min"=1
    I:"Troll Group Max"=1
    I:"Troll Group Min"=1
    I:"Yale Group Max"=2
    I:"Yale Group Min"=1
}


##########################################################################################################
# spawn biomes
#--------------------------------------------------------------------------------------------------------#
# Sets which biomes this mob spawns in using Biome Tags. Multiple entries should be comma separated and can be subtractive if provided with a - in front.
##########################################################################################################

"spawn biomes" {
    S:"Geonach Spawn Biomes"=GROUP
    S:"Jabberwock Spawn Biomes"=GROUP
    S:"Troll Spawn Biomes"=GROUP
    S:"Yale Spawn Biomes"=GROUP
}


##########################################################################################################
# spawn chances
#--------------------------------------------------------------------------------------------------------#
# Adds a forced spawn fail chance. A chance of 1.0 (100%) means that the mob will always spawn. A chance of 0.5 means it will have a 50% chance of spawning. Use this as a last resort as a failed spawn still takes up a spawning oppotunity.
##########################################################################################################

"spawn chances" {
    D:"Geonach Spawn Chance"=1.0
    D:"Jabberwock Spawn Chance"=1.0
    D:"Troll Spawn Chance"=1.0
    D:"Yale Spawn Chance"=1.0
}


##########################################################################################################
# spawn dimensions
#--------------------------------------------------------------------------------------------------------#
# Sets which dimensions mobs spawn in. You may enter dimension IDs or tags such as: ALL, VANILLA or GROUP. Multiple entries should be comma separated.
##########################################################################################################

"spawn dimensions" {
    S:"Geonach Spawn Dimensions"=GROUP
    S:"Jabberwock Spawn Dimensions"=GROUP
    S:"Troll Spawn Dimensions"=GROUP
    S:"Yale Spawn Dimensions"=GROUP
}


##########################################################################################################
# spawn types
#--------------------------------------------------------------------------------------------------------#
# Specifies how this mob spawns, multiple entries should be comma separated. Valid types are: MONSTER, CREATURE, WATERCREATURE, FIRE, FROSTFIRE, LAVA, ROCK, STORM. More will likely be added too.
##########################################################################################################

"spawn types" {
    S:"Geonach Spawn Types"=ROCK
    S:"Jabberwock Spawn Types"=MONSTER
    S:"Troll Spawn Types"=MONSTER
    S:"Yale Spawn Types"=CREATURE
}


##########################################################################################################
# spawn weights
#--------------------------------------------------------------------------------------------------------#
# The higher the weight, the more likely the mob will spawn randomly instead of others. Vanilla Zombies have a weight of 8.
##########################################################################################################

"spawn weights" {
    D:"Geonach Spawn Weight"=2.0
    D:"Jabberwock Spawn Weight"=2.0
    D:"Troll Spawn Weight"=1.0
    D:"Yale Spawn Weight"=3.0
}


