# Configuration file

~CONFIG_VERSION: 0.3.4

general {
    # Set to false to disable auto inventory check
    B:EnableInventoryCheck=true

    # Add string identifier here to disable quick transfer of this type recipe
    # Names can be found in ListRecipeCategory
    S:ListRecipeBlackList <
     >

    # List of categories, this is maintained by the mod automatically
    S:ListRecipeCategory <
        crafting
        smelting
     >
}


