# Configuration file

blocks {
    B:glassesbridge=true
    B:peripheralproxy=true
    B:pim=true
    B:selector=true
    B:sensor=true
}


glasses {
    # Should glasses listen to all chat (not just prefixed with $$)
    B:listenToAllChat=true
}


items {
    B:generic=true
    B:glasses=true
    B:keyboard=true
}


misc {
    # Should turtles with OPA updates be visible in creative
    B:addTurtlesToCreative=true
}


sensor {
    I:normalRange=5
    I:rangeInStorm=5
}


