# Configuration file

##########################################################################################################
# area limits
#--------------------------------------------------------------------------------------------------------#
# Sets how many of each mob is allowed to naturally spawn near each other.
##########################################################################################################

"area limits" {
    I:"Arix Area Limit"=3
    I:"Frostweaver Area Limit"=5
    I:"Reiver Area Limit"=3
    I:"Serpix Area Limit"=1
    I:"Wendigo Area Limit"=1
    I:"Yeti Area Limit"=5
}


##########################################################################################################
# block costs
#--------------------------------------------------------------------------------------------------------#
# Only used by certain spawners. Sets how many blocks are required for spawning, such as how many blocks of Fire a Cinder requires.
##########################################################################################################

"block costs" {
    I:"Arix Block Cost"=1
    I:"Frostweaver Block Cost"=1
    I:"Reiver Block Cost"=8
    I:"Serpix Block Cost"=1
    I:"Wendigo Block Cost"=1
    I:"Yeti Block Cost"=1
}


##########################################################################################################
# despawning
#--------------------------------------------------------------------------------------------------------#
# Forces a mob to despawn naturally (unless tamed). Some farmable mobs such as Pinkies ignore their Natural Despawning setting once they've been fed or moved out of their home dimension.
##########################################################################################################

despawning {
    B:"Arix Forced Despawning"=false
    B:"Arix Natural Despawning"=true
    B:"Frostweaver Forced Despawning"=false
    B:"Frostweaver Natural Despawning"=true
    B:"Reiver Forced Despawning"=false
    B:"Reiver Natural Despawning"=true
    B:"Serpix Forced Despawning"=false
    B:"Serpix Natural Despawning"=true
    B:"Wendigo Forced Despawning"=false
    B:"Wendigo Natural Despawning"=true
    B:"Yeti Forced Despawning"=false
    B:"Yeti Natural Despawning"=false
}


##########################################################################################################
# dungeon weights
#--------------------------------------------------------------------------------------------------------#
# The higher the weight, the more likely this mob will appear in random dungeon spawners. Vanilla Zombie have a dungeon weight of 200.
##########################################################################################################

"dungeon weights" {
    D:"Arix Dungeon Weight"=200.0
    D:"Frostweaver Dungeon Weight"=250.0
    D:"Reiver Dungeon Weight"=200.0
    D:"Serpix Dungeon Weight"=100.0
    D:"Wendigo Dungeon Weight"=100.0
    D:"Yeti Dungeon Weight"=0.0
}


##########################################################################################################
# enabled spawns
#--------------------------------------------------------------------------------------------------------#
# Set to false to prevent mobs from spawning naturally at all.
##########################################################################################################

"enabled spawns" {
    B:"Arix Spawning Enabled"=true
    B:"Frostweaver Spawning Enabled"=true
    B:"Reiver Spawning Enabled"=true
    B:"Serpix Spawning Enabled"=true
    B:"Wendigo Spawning Enabled"=true
    B:"Yeti Spawning Enabled"=true
}


##########################################################################################################
# group settings
#--------------------------------------------------------------------------------------------------------#
# Here you can set the spawning settings for all mobs in this group that use the GROUP tag.
##########################################################################################################

"group settings" {
    S:"Arctic Mobs Spawn Biomes"=COLD, SNOWY, CONIFEROUS, -END
    S:"Arctic Mobs Spawn Dimensions"=-1,1

    # If true, the 'Spawn Dimensions' list will act as a whitelist instead of a blacklist.
    B:"Arctic Mobs Spawn Dimensions Whitelist Mode"=false
}


##########################################################################################################
# group sizes
#--------------------------------------------------------------------------------------------------------#
# Sets the minimum and maximum random size of a group spawned. Note with the vanilla spawn, large groups can reduce the spawning odds in biomes with lots trees, etc.
##########################################################################################################

"group sizes" {
    I:"Arix Group Max"=3
    I:"Arix Group Min"=1
    I:"Frostweaver Group Max"=2
    I:"Frostweaver Group Min"=1
    I:"Reiver Group Max"=3
    I:"Reiver Group Min"=1
    I:"Serpix Group Max"=1
    I:"Serpix Group Min"=1
    I:"Wendigo Group Max"=1
    I:"Wendigo Group Min"=1
    I:"Yeti Group Max"=4
    I:"Yeti Group Min"=1
}


##########################################################################################################
# spawn biomes
#--------------------------------------------------------------------------------------------------------#
# Sets which biomes this mob spawns in using Biome Tags. Multiple entries should be comma separated and can be subtractive if provided with a - in front. You can also have a mob skip the biome check completely if ALL is not working correctly for modded biomes.
##########################################################################################################

"spawn biomes" {
    S:"Arix Spawn Biomes"=GROUP
    B:"Arix Spawn Ignores Biome Check"=false
    S:"Frostweaver Spawn Biomes"=GROUP
    B:"Frostweaver Spawn Ignores Biome Check"=false
    S:"Reiver Spawn Biomes"=GROUP
    B:"Reiver Spawn Ignores Biome Check"=false
    S:"Serpix Spawn Biomes"=GROUP
    B:"Serpix Spawn Ignores Biome Check"=false
    S:"Wendigo Spawn Biomes"=GROUP
    B:"Wendigo Spawn Ignores Biome Check"=false
    S:"Yeti Spawn Biomes"=GROUP
    B:"Yeti Spawn Ignores Biome Check"=false
}


##########################################################################################################
# spawn chances
#--------------------------------------------------------------------------------------------------------#
# Adds a forced spawn fail chance. A chance of 1.0 (100%) means that the mob will always spawn. A chance of 0.5 means it will have a 50% chance of spawning. Use this as a last resort as a failed spawn still takes up a spawning oppotunity.
##########################################################################################################

"spawn chances" {
    D:"Arix Spawn Chance"=1.0
    D:"Frostweaver Spawn Chance"=1.0
    D:"Reiver Spawn Chance"=1.0
    D:"Serpix Spawn Chance"=1.0
    D:"Wendigo Spawn Chance"=1.0
    D:"Yeti Spawn Chance"=1.0
}


##########################################################################################################
# spawn conditions
#--------------------------------------------------------------------------------------------------------#
# Various conditions that are checked at a spawn location when spawning mobs, such as light level.
##########################################################################################################

"spawn conditions" {
    B:"Arix Spawns In Dark"=true
    B:"Arix Spawns In Light"=false
    B:"Frostweaver Spawns In Dark"=true
    B:"Frostweaver Spawns In Light"=false
    B:"Reiver Spawns In Dark"=true
    B:"Reiver Spawns In Light"=false
    B:"Serpix Spawns In Dark"=true
    B:"Serpix Spawns In Light"=false
    B:"Wendigo Spawns In Dark"=true
    B:"Wendigo Spawns In Light"=false
    B:"Yeti Spawns In Dark"=false
    B:"Yeti Spawns In Light"=true
}


##########################################################################################################
# spawn dimensions
#--------------------------------------------------------------------------------------------------------#
# Sets which dimensions (by ID) that mobs WILL NOT spawn in. However if 'Spawn Dimensions Whitelist Mode' is set to true, it will instead set which dimensions they WILL ONLY spawn in. You may enter dimension IDs and/or GROUP to use the group settings. Multiple entries should be comma separated. Note that some Spawn Types ignore this such as the PORTAL type.
##########################################################################################################

"spawn dimensions" {
    S:"Arix Spawn Dimensions"=GROUP
    B:"Arix Spawn Dimensions Whitelist Mode"=false
    S:"Frostweaver Spawn Dimensions"=GROUP
    B:"Frostweaver Spawn Dimensions Whitelist Mode"=false
    S:"Reiver Spawn Dimensions"=GROUP
    B:"Reiver Spawn Dimensions Whitelist Mode"=false
    S:"Serpix Spawn Dimensions"=GROUP
    B:"Serpix Spawn Dimensions Whitelist Mode"=false
    S:"Wendigo Spawn Dimensions"=GROUP
    B:"Wendigo Spawn Dimensions Whitelist Mode"=false
    S:"Yeti Spawn Dimensions"=GROUP
    B:"Yeti Spawn Dimensions Whitelist Mode"=false
}


##########################################################################################################
# spawn types
#--------------------------------------------------------------------------------------------------------#
# Specifies how this mob spawns, multiple entries should be comma separated. Valid types are: MONSTER, CREATURE, WATERCREATURE, FIRE, FROSTFIRE, LAVA, ROCK, STORM. More will likely be added too.
##########################################################################################################

"spawn types" {
    S:"Arix Spawn Types"=SKY, OOZE
    S:"Frostweaver Spawn Types"=MONSTER
    S:"Reiver Spawn Types"=FROSTFIRE, SKY
    S:"Serpix Spawn Types"=MONSTER, OOZE
    S:"Wendigo Spawn Types"=MONSTER, OOZE
    S:"Yeti Spawn Types"=CREATURE
}


##########################################################################################################
# spawn weights
#--------------------------------------------------------------------------------------------------------#
# The higher the weight, the more likely the mob will spawn randomly instead of others. Vanilla Zombies have a weight of 8.
##########################################################################################################

"spawn weights" {
    D:"Arix Spawn Weight"=8.0
    D:"Frostweaver Spawn Weight"=10.0
    D:"Reiver Spawn Weight"=8.0
    D:"Serpix Spawn Weight"=4.0
    D:"Wendigo Spawn Weight"=4.0
    D:"Yeti Spawn Weight"=10.0
}


