# Configuration file

##########################################################################################################
# custom item drops
#--------------------------------------------------------------------------------------------------------#
# Allows for custom items drops per mob. Format is: mod:item,metadata,chance,min,max Multiple drops should be semicolon separated and chances are in decimal format. minecraft:wool;2;0.25;0;3 is Green Wool with a 25% drop rate and will drop 0 to 3 blocks. Be sure to use a colon for mod:item and semicolons for everything else.
##########################################################################################################

"custom item drops" {
    S:"Arix Custom Drops"=
    S:"Frostweaver Custom Drops"=
    S:"Reiver Custom Drops"=
    S:"Serpix Custom Drops"=
    S:"Wendigo Custom Drops"=
    S:"Yeti Custom Drops"=
}


##########################################################################################################
# default item drops
#--------------------------------------------------------------------------------------------------------#
# If false, only custom item drops are dropped.
##########################################################################################################

"default item drops" {
    B:"Arix Default Drops"=true
    B:"Frostweaver Default Drops"=true
    B:"Reiver Default Drops"=true
    B:"Serpix Default Drops"=true
    B:"Wendigo Default Drops"=true
    B:"Yeti Default Drops"=true
}


"dungeon level" {
    I:"Arix Dungeon Level"=1
    I:"Frostweaver Dungeon Level"=1
    I:"Reiver Dungeon Level"=0
    I:"Serpix Dungeon Level"=2
    I:"Wendigo Dungeon Level"=2
    I:"Yeti Dungeon Level"=-1
}


##########################################################################################################
# dungeon levels
#--------------------------------------------------------------------------------------------------------#
# The dungeon level of this mob, used by Doomlike Dungeons. -1 = Not for Dungeons, 0 = Common, 1 = Tough, 2 = Brute, 3 = Elite
##########################################################################################################

"dungeon levels" {
}


##########################################################################################################
# dungeon themes
#--------------------------------------------------------------------------------------------------------#
# Here you can set the Dungeon Theme of each mob. These are used by Doomlike Dungeons and might be used by other things later.
##########################################################################################################

"dungeon themes" {
    S:"Arix Themes"=GROUP
    S:"Frostweaver Themes"=GROUP
    S:"Reiver Themes"=GROUP
    S:"Serpix Themes"=GROUP
    S:"Wendigo Themes"=GROUP
    S:"Yeti Themes"=GROUP
}


##########################################################################################################
# enabled mobs
#--------------------------------------------------------------------------------------------------------#
# Here you can completely disable any mob.
##########################################################################################################

"enabled mobs" {
    B:"Arix Enabled"=true
    B:"Frostweaver Enabled"=true
    B:"Reiver Enabled"=true
    B:"Serpix Enabled"=true
    B:"Wendigo Enabled"=true
    B:"Yeti Enabled"=true
}


features {
    B:"Enable Frostclouds"=true
    B:"Enable Frostfire"=true
    B:"Enable Frostwebs"=true
    B:"Enable Icefire"=true
}


"group settings" {
    # Here you can set the Dungeon Theme of this mob group. These are used by Doomlike Dungeons and might be used by other things later. Multiple entries should be comma seperated.
    S:"Arctic Mobs Themes"=FROZEN, DUNGEON
}


##########################################################################################################
# peaceful mob
#--------------------------------------------------------------------------------------------------------#
# Here you may control whether or not each mob is allowed in Peaceful Difficulty.
##########################################################################################################

"peaceful mob" {
}


"peaceful mobs" {
    B:"Arix On Peaceful"=false
    B:"Frostweaver On Peaceful"=false
    B:"Reiver On Peaceful"=false
    B:"Serpix On Peaceful"=false
    B:"Wendigo On Peaceful"=false
    B:"Yeti On Peaceful"=true
}


##########################################################################################################
# summoning costs
#--------------------------------------------------------------------------------------------------------#
# How much summoning focus each mob costs. This includes mobs that can't be summoned by the summoning staff as there might be other methods of summoning them in the future.
##########################################################################################################

"summoning costs" {
    I:"Arix Summoning Cost"=2
    I:"Frostweaver Summoning Cost"=2
    I:"Reiver Summoning Cost"=2
    I:"Serpix Summoning Cost"=8
    I:"Wendigo Summoning Cost"=8
    I:"Yeti Summoning Cost"=2
}


##########################################################################################################
# vanilla spawning
#--------------------------------------------------------------------------------------------------------#
# Here you may control settings that affect vanilla Minecraft.
##########################################################################################################

"vanilla spawning" {
    # If true, some vanilla spawns in this group's biomes will be removed, note that vanilla mobs should still be easy to find, only they will be more biome specific.
    B:"Edit Vanilla Spawning"=true
}


