# Configuration file

##########################################################################################################
# area limits
#--------------------------------------------------------------------------------------------------------#
# Sets how many of each mob is allowed to naturally spawn near each other.
##########################################################################################################

"area limits" {
    I:"Astaroth Area Limit"=1
    I:"Behemoth Area Limit"=5
    I:"Belph Area Limit"=10
    I:"Cacodemon Area Limit"=5
    I:"Nether Soul Area Limit"=10
    I:"Pinky Area Limit"=5
    I:"Rahovart Area Limit"=1
    I:"Trite Area Limit"=40
}


##########################################################################################################
# block costs
#--------------------------------------------------------------------------------------------------------#
# Only used by certain spawners. Sets how many blocks are required for spawning, such as how many blocks of Fire a Cinder requires.
##########################################################################################################

"block costs" {
    I:"Astaroth Block Cost"=1
    I:"Behemoth Block Cost"=1
    I:"Belph Block Cost"=1
    I:"Cacodemon Block Cost"=1
    I:"Nether Soul Block Cost"=1
    I:"Pinky Block Cost"=1
    I:"Rahovart Block Cost"=1
    I:"Trite Block Cost"=1
}


##########################################################################################################
# despawning
#--------------------------------------------------------------------------------------------------------#
# Forces a mob to despawn naturally (unless tamed). Some farmable mobs such as Pinkies ignore their Natural Despawning setting once they've been fed or moved out of their home dimension.
##########################################################################################################

despawning {
    B:"Astaroth Forced Despawning"=false
    B:"Astaroth Natural Despawning"=true
    B:"Behemoth Forced Despawning"=false
    B:"Behemoth Natural Despawning"=true
    B:"Belph Forced Despawning"=false
    B:"Belph Natural Despawning"=true
    B:"Cacodemon Forced Despawning"=false
    B:"Cacodemon Natural Despawning"=true
    B:"Nether Soul Forced Despawning"=false
    B:"Nether Soul Natural Despawning"=true
    B:"Pinky Forced Despawning"=false
    B:"Pinky Natural Despawning"=true
    B:"Rahovart Forced Despawning"=false
    B:"Rahovart Natural Despawning"=true
    B:"Trite Forced Despawning"=false
    B:"Trite Natural Despawning"=true
}


##########################################################################################################
# dungeon weights
#--------------------------------------------------------------------------------------------------------#
# The higher the weight, the more likely this mob will appear in random dungeon spawners. Vanilla Zombie have a dungeon weight of 200.
##########################################################################################################

"dungeon weights" {
    D:"Astaroth Dungeon Weight"=40.0
    D:"Behemoth Dungeon Weight"=40.0
    D:"Belph Dungeon Weight"=200.0
    D:"Cacodemon Dungeon Weight"=80.0
    D:"Nether Soul Dungeon Weight"=120.0
    D:"Pinky Dungeon Weight"=120.0
    D:"Rahovart Dungeon Weight"=0.0
    D:"Trite Dungeon Weight"=200.0
}


##########################################################################################################
# enabled spawns
#--------------------------------------------------------------------------------------------------------#
# Set to false to prevent mobs from spawning naturally at all.
##########################################################################################################

"enabled spawns" {
    B:"Astaroth Spawning Enabled"=true
    B:"Behemoth Spawning Enabled"=true
    B:"Belph Spawning Enabled"=true
    B:"Cacodemon Spawning Enabled"=true
    B:"Nether Soul Spawning Enabled"=true
    B:"Pinky Spawning Enabled"=true
    B:"Rahovart Spawning Enabled"=true
    B:"Trite Spawning Enabled"=true
}


##########################################################################################################
# group settings
#--------------------------------------------------------------------------------------------------------#
# Here you can set the spawning settings for all mobs in this group that use the GROUP tag.
##########################################################################################################

"group settings" {
    S:"Demon Mobs Spawn Biomes"=NETHER
    S:"Demon Mobs Spawn Dimensions"=-1

    # If true, the 'Spawn Dimensions' list will act as a whitelist instead of a blacklist.
    B:"Demon Mobs Spawn Dimensions Whitelist Mode"=true
}


##########################################################################################################
# group sizes
#--------------------------------------------------------------------------------------------------------#
# Sets the minimum and maximum random size of a group spawned. Note with the vanilla spawn, large groups can reduce the spawning odds in biomes with lots trees, etc.
##########################################################################################################

"group sizes" {
    I:"Astaroth Group Max"=1
    I:"Astaroth Group Min"=1
    I:"Behemoth Group Max"=1
    I:"Behemoth Group Min"=1
    I:"Belph Group Max"=4
    I:"Belph Group Min"=1
    I:"Cacodemon Group Max"=1
    I:"Cacodemon Group Min"=1
    I:"Nether Soul Group Max"=4
    I:"Nether Soul Group Min"=1
    I:"Pinky Group Max"=3
    I:"Pinky Group Min"=1
    I:"Rahovart Group Max"=1
    I:"Rahovart Group Min"=1
    I:"Trite Group Max"=10
    I:"Trite Group Min"=1
}


##########################################################################################################
# spawn biomes
#--------------------------------------------------------------------------------------------------------#
# Sets which biomes this mob spawns in using Biome Tags. Multiple entries should be comma separated and can be subtractive if provided with a - in front. You can also have a mob skip the biome check completely if ALL is not working correctly for modded biomes.
##########################################################################################################

"spawn biomes" {
    S:"Astaroth Spawn Biomes"=GROUP
    B:"Astaroth Spawn Ignores Biome Check"=false
    S:"Behemoth Spawn Biomes"=GROUP
    B:"Behemoth Spawn Ignores Biome Check"=false
    S:"Belph Spawn Biomes"=GROUP
    B:"Belph Spawn Ignores Biome Check"=false
    S:"Cacodemon Spawn Biomes"=GROUP
    B:"Cacodemon Spawn Ignores Biome Check"=false
    S:"Nether Soul Spawn Biomes"=GROUP
    B:"Nether Soul Spawn Ignores Biome Check"=false
    S:"Pinky Spawn Biomes"=GROUP
    B:"Pinky Spawn Ignores Biome Check"=false
    S:"Rahovart Spawn Biomes"=GROUP
    B:"Rahovart Spawn Ignores Biome Check"=false
    S:"Trite Spawn Biomes"=GROUP
    B:"Trite Spawn Ignores Biome Check"=false
}


##########################################################################################################
# spawn chances
#--------------------------------------------------------------------------------------------------------#
# Adds a forced spawn fail chance. A chance of 1.0 (100%) means that the mob will always spawn. A chance of 0.5 means it will have a 50% chance of spawning. Use this as a last resort as a failed spawn still takes up a spawning oppotunity.
##########################################################################################################

"spawn chances" {
    D:"Astaroth Spawn Chance"=1.0
    D:"Behemoth Spawn Chance"=1.0
    D:"Belph Spawn Chance"=1.0
    D:"Cacodemon Spawn Chance"=1.0
    D:"Nether Soul Spawn Chance"=1.0
    D:"Pinky Spawn Chance"=1.0
    D:"Rahovart Spawn Chance"=1.0
    D:"Trite Spawn Chance"=1.0
}


##########################################################################################################
# spawn conditions
#--------------------------------------------------------------------------------------------------------#
# Various conditions that are checked at a spawn location when spawning mobs, such as light level.
##########################################################################################################

"spawn conditions" {
    B:"Astaroth Spawns In Dark"=true
    B:"Astaroth Spawns In Light"=true
    B:"Behemoth Spawns In Dark"=true
    B:"Behemoth Spawns In Light"=true
    B:"Belph Spawns In Dark"=true
    B:"Belph Spawns In Light"=true
    B:"Cacodemon Spawns In Dark"=true
    B:"Cacodemon Spawns In Light"=true
    B:"Nether Soul Spawns In Dark"=true
    B:"Nether Soul Spawns In Light"=true
    B:"Pinky Spawns In Dark"=true
    B:"Pinky Spawns In Light"=true
    B:"Rahovart Spawns In Dark"=true
    B:"Rahovart Spawns In Light"=true
    B:"Trite Spawns In Dark"=true
    B:"Trite Spawns In Light"=true
}


##########################################################################################################
# spawn dimensions
#--------------------------------------------------------------------------------------------------------#
# Sets which dimensions (by ID) that mobs WILL NOT spawn in. However if 'Spawn Dimensions Whitelist Mode' is set to true, it will instead set which dimensions they WILL ONLY spawn in. You may enter dimension IDs and/or GROUP to use the group settings. Multiple entries should be comma separated. Note that some Spawn Types ignore this such as the PORTAL type.
##########################################################################################################

"spawn dimensions" {
    S:"Astaroth Spawn Dimensions"=GROUP
    B:"Astaroth Spawn Dimensions Whitelist Mode"=false
    S:"Behemoth Spawn Dimensions"=GROUP
    B:"Behemoth Spawn Dimensions Whitelist Mode"=false
    S:"Belph Spawn Dimensions"=GROUP
    B:"Belph Spawn Dimensions Whitelist Mode"=false
    S:"Cacodemon Spawn Dimensions"=GROUP
    B:"Cacodemon Spawn Dimensions Whitelist Mode"=false
    S:"Nether Soul Spawn Dimensions"=GROUP
    B:"Nether Soul Spawn Dimensions Whitelist Mode"=false
    S:"Pinky Spawn Dimensions"=GROUP
    B:"Pinky Spawn Dimensions Whitelist Mode"=false
    S:"Rahovart Spawn Dimensions"=GROUP
    B:"Rahovart Spawn Dimensions Whitelist Mode"=false
    S:"Trite Spawn Dimensions"=GROUP
    B:"Trite Spawn Dimensions Whitelist Mode"=false
}


##########################################################################################################
# spawn types
#--------------------------------------------------------------------------------------------------------#
# Specifies how this mob spawns, multiple entries should be comma separated. Valid types are: MONSTER, CREATURE, WATERCREATURE, FIRE, FROSTFIRE, LAVA, ROCK, STORM. More will likely be added too.
##########################################################################################################

"spawn types" {
    S:"Astaroth Spawn Types"=MONSTER, PORTAL
    S:"Behemoth Spawn Types"=MONSTER, PORTAL
    S:"Belph Spawn Types"=MONSTER, PORTAL
    S:"Cacodemon Spawn Types"=PORTAL, SKY
    S:"Nether Soul Spawn Types"=MONSTER, PORTAL, SKY
    S:"Pinky Spawn Types"=MONSTER, PORTAL
    S:"Rahovart Spawn Types"=
    S:"Trite Spawn Types"=MONSTER, PORTAL
}


##########################################################################################################
# spawn weights
#--------------------------------------------------------------------------------------------------------#
# The higher the weight, the more likely the mob will spawn randomly instead of others. Vanilla Zombies have a weight of 8.
##########################################################################################################

"spawn weights" {
    D:"Astaroth Spawn Weight"=1.0
    D:"Behemoth Spawn Weight"=2.0
    D:"Belph Spawn Weight"=8.0
    D:"Cacodemon Spawn Weight"=4.0
    D:"Nether Soul Spawn Weight"=6.0
    D:"Pinky Spawn Weight"=6.0
    D:"Rahovart Spawn Weight"=1.0
    D:"Trite Spawn Weight"=10.0
}


