# Configuration file

##########################################################################################################
# custom item drops
#--------------------------------------------------------------------------------------------------------#
# Allows for custom items drops per mob. Format is: mod:item,metadata,chance,min,max Multiple drops should be semicolon separated and chances are in decimal format. minecraft:wool;2;0.25;0;3 is Green Wool with a 25% drop rate and will drop 0 to 3 blocks. Be sure to use a colon for mod:item and semicolons for everything else.
##########################################################################################################

"custom item drops" {
    S:"Astaroth Custom Drops"=
    S:"Behemoth Custom Drops"=
    S:"Belph Custom Drops"=
    S:"Cacodemon Custom Drops"=
    S:"Nether Soul Custom Drops"=
    S:"Pinky Custom Drops"=
    S:"Rahovart Custom Drops"=
    S:"Trite Custom Drops"=
}


##########################################################################################################
# default item drops
#--------------------------------------------------------------------------------------------------------#
# If false, only custom item drops are dropped.
##########################################################################################################

"default item drops" {
    B:"Astaroth Default Drops"=true
    B:"Behemoth Default Drops"=true
    B:"Belph Default Drops"=true
    B:"Cacodemon Default Drops"=true
    B:"Nether Soul Default Drops"=true
    B:"Pinky Default Drops"=true
    B:"Rahovart Default Drops"=true
    B:"Trite Default Drops"=true
}


"dungeon level" {
    I:"Astaroth Dungeon Level"=2
    I:"Behemoth Dungeon Level"=2
    I:"Belph Dungeon Level"=0
    I:"Cacodemon Dungeon Level"=2
    I:"Nether Soul Dungeon Level"=0
    I:"Pinky Dungeon Level"=1
    I:"Rahovart Dungeon Level"=4
    I:"Trite Dungeon Level"=0
}


##########################################################################################################
# dungeon levels
#--------------------------------------------------------------------------------------------------------#
# The dungeon level of this mob, used by Doomlike Dungeons. -1 = Not for Dungeons, 0 = Common, 1 = Tough, 2 = Brute, 3 = Elite
##########################################################################################################

"dungeon levels" {
}


##########################################################################################################
# dungeon themes
#--------------------------------------------------------------------------------------------------------#
# Here you can set the Dungeon Theme of each mob. These are used by Doomlike Dungeons and might be used by other things later.
##########################################################################################################

"dungeon themes" {
    S:"Astaroth Themes"=GROUP
    S:"Behemoth Themes"=GROUP
    S:"Belph Themes"=GROUP
    S:"Cacodemon Themes"=GROUP
    S:"Nether Soul Themes"=GROUP
    S:"Pinky Themes"=GROUP
    S:"Rahovart Themes"=GROUP
    S:"Trite Themes"=GROUP
}


##########################################################################################################
# enabled mobs
#--------------------------------------------------------------------------------------------------------#
# Here you can completely disable any mob.
##########################################################################################################

"enabled mobs" {
    B:"Astaroth Enabled"=true
    B:"Behemoth Enabled"=true
    B:"Belph Enabled"=true
    B:"Cacodemon Enabled"=true
    B:"Nether Soul Enabled"=true
    B:"Pinky Enabled"=true
    B:"Rahovart Enabled"=true
    B:"Trite Enabled"=true
}


features {
    B:"Enable Hellfire"=true
}


"group settings" {
    # Here you can set the Dungeon Theme of this mob group. These are used by Doomlike Dungeons and might be used by other things later. Multiple entries should be comma seperated.
    S:"Demon Mobs Themes"=NETHER, NECRO
}


##########################################################################################################
# peaceful mob
#--------------------------------------------------------------------------------------------------------#
# Here you may control whether or not each mob is allowed in Peaceful Difficulty.
##########################################################################################################

"peaceful mob" {
}


"peaceful mobs" {
    B:"Astaroth On Peaceful"=false
    B:"Behemoth On Peaceful"=false
    B:"Belph On Peaceful"=false
    B:"Cacodemon On Peaceful"=false
    B:"Nether Soul On Peaceful"=false
    B:"Pinky On Peaceful"=true
    B:"Rahovart On Peaceful"=false
    B:"Trite On Peaceful"=false
}


##########################################################################################################
# summoning costs
#--------------------------------------------------------------------------------------------------------#
# How much summoning focus each mob costs. This includes mobs that can't be summoned by the summoning staff as there might be other methods of summoning them in the future.
##########################################################################################################

"summoning costs" {
    I:"Astaroth Summoning Cost"=8
    I:"Behemoth Summoning Cost"=6
    I:"Belph Summoning Cost"=2
    I:"Cacodemon Summoning Cost"=6
    I:"Nether Soul Summoning Cost"=1
    I:"Pinky Summoning Cost"=4
    I:"Rahovart Summoning Cost"=100
    I:"Trite Summoning Cost"=1
}


##########################################################################################################
# vanilla spawning
#--------------------------------------------------------------------------------------------------------#
# Here you may control settings that affect vanilla Minecraft.
##########################################################################################################

"vanilla spawning" {
    # If true, some vanilla spawns in this group's biomes will be removed, note that vanilla mobs should still be easy to find, only they will be more biome specific.
    B:"Edit Vanilla Spawning"=true
}


