# Configuration file

##########################################################################################################
# custom item drops
#--------------------------------------------------------------------------------------------------------#
# Allows for custom items drops per mob. Format is: mod:item,metadata,chance,min,max Multiple drops should be semicolon separated and chances are in decimal format. minecraft:wool;2;0.25;0;3 is Green Wool with a 25% drop rate and will drop 0 to 3 blocks. Be sure to use a colon for mod:item and semicolons for everything else.
##########################################################################################################

"custom item drops" {
    S:"Jengu Custom Drops"=
    S:"Silex Custom Drops"=
    S:"Strider Custom Drops"=
    S:"Zephyr Custom Drops"=
}


##########################################################################################################
# default item drops
#--------------------------------------------------------------------------------------------------------#
# If false, only custom item drops are dropped.
##########################################################################################################

"default item drops" {
    B:"Jengu Default Drops"=true
    B:"Silex Default Drops"=true
    B:"Strider Default Drops"=true
    B:"Zephyr Default Drops"=true
}


"dungeon level" {
    I:"Jengu Dungeon Level"=0
    I:"Silex Dungeon Level"=-1
    I:"Strider Dungeon Level"=2
    I:"Zephyr Dungeon Level"=0
}


##########################################################################################################
# dungeon levels
#--------------------------------------------------------------------------------------------------------#
# The dungeon level of this mob, used by Doomlike Dungeons. -1 = Not for Dungeons, 0 = Common, 1 = Tough, 2 = Brute, 3 = Elite
##########################################################################################################

"dungeon levels" {
}


##########################################################################################################
# dungeon themes
#--------------------------------------------------------------------------------------------------------#
# Here you can set the Dungeon Theme of each mob. These are used by Doomlike Dungeons and might be used by other things later.
##########################################################################################################

"dungeon themes" {
    S:"Jengu Themes"=GROUP
    S:"Silex Themes"=GROUP
    S:"Strider Themes"=GROUP
    S:"Zephyr Themes"=GROUP
}


##########################################################################################################
# enabled mobs
#--------------------------------------------------------------------------------------------------------#
# Here you can completely disable any mob.
##########################################################################################################

"enabled mobs" {
    B:"Jengu Enabled"=true
    B:"Silex Enabled"=true
    B:"Strider Enabled"=true
    B:"Zephyr Enabled"=true
}


"group settings" {
    # Here you can set the Dungeon Theme of this mob group. These are used by Doomlike Dungeons and might be used by other things later. Multiple entries should be comma seperated.
    S:"Freshwater Mobs Themes"=WATER, DUNGEON
}


##########################################################################################################
# peaceful mob
#--------------------------------------------------------------------------------------------------------#
# Here you may control whether or not each mob is allowed in Peaceful Difficulty.
##########################################################################################################

"peaceful mob" {
}


"peaceful mobs" {
    B:"Jengu On Peaceful"=false
    B:"Silex On Peaceful"=true
    B:"Strider On Peaceful"=false
    B:"Zephyr On Peaceful"=false
}


##########################################################################################################
# summoning costs
#--------------------------------------------------------------------------------------------------------#
# How much summoning focus each mob costs. This includes mobs that can't be summoned by the summoning staff as there might be other methods of summoning them in the future.
##########################################################################################################

"summoning costs" {
    I:"Jengu Summoning Cost"=2
    I:"Silex Summoning Cost"=2
    I:"Strider Summoning Cost"=6
    I:"Zephyr Summoning Cost"=2
}


##########################################################################################################
# vanilla spawning
#--------------------------------------------------------------------------------------------------------#
# Here you may control settings that affect vanilla Minecraft.
##########################################################################################################

"vanilla spawning" {
    # If true, some vanilla spawns in this group's biomes will be removed, note that vanilla mobs should still be easy to find, only they will be more biome specific.
    B:"Edit Vanilla Spawning"=true
}


