# Configuration file

##########################################################################################################
# custom item drops
#--------------------------------------------------------------------------------------------------------#
# Allows for custom items drops per mob. Format is: mod:item,metadata,chance,min,max Multiple drops should be semicolon separated and chances are in decimal format. minecraft:wool;2;0.25;0;3 is Green Wool with a 25% drop rate and will drop 0 to 3 blocks. Be sure to use a colon for mod:item and semicolons for everything else.
##########################################################################################################

"custom item drops" {
    S:"Afrit Custom Drops"=
    S:"Cephignis Custom Drops"=
    S:"Cinder Custom Drops"=
    S:"Khalk Custom Drops"=
    S:"Lobber Custom Drops"=
}


##########################################################################################################
# default item drops
#--------------------------------------------------------------------------------------------------------#
# If false, only custom item drops are dropped.
##########################################################################################################

"default item drops" {
    B:"Afrit Default Drops"=true
    B:"Cephignis Default Drops"=true
    B:"Cinder Default Drops"=true
    B:"Khalk Default Drops"=true
    B:"Lobber Default Drops"=true
}


"dungeon level" {
    I:"Afrit Dungeon Level"=1
    I:"Cephignis Dungeon Level"=-1
    I:"Cinder Dungeon Level"=1
    I:"Khalk Dungeon Level"=2
    I:"Lobber Dungeon Level"=2
}


##########################################################################################################
# dungeon levels
#--------------------------------------------------------------------------------------------------------#
# The dungeon level of this mob, used by Doomlike Dungeons. -1 = Not for Dungeons, 0 = Common, 1 = Tough, 2 = Brute, 3 = Elite
##########################################################################################################

"dungeon levels" {
}


##########################################################################################################
# dungeon themes
#--------------------------------------------------------------------------------------------------------#
# Here you can set the Dungeon Theme of each mob. These are used by Doomlike Dungeons and might be used by other things later.
##########################################################################################################

"dungeon themes" {
    S:"Afrit Themes"=GROUP
    S:"Cephignis Themes"=GROUP
    S:"Cinder Themes"=GROUP
    S:"Khalk Themes"=GROUP
    S:"Lobber Themes"=GROUP
}


##########################################################################################################
# enabled mobs
#--------------------------------------------------------------------------------------------------------#
# Here you can completely disable any mob.
##########################################################################################################

"enabled mobs" {
    B:"Afrit Enabled"=true
    B:"Cephignis Enabled"=true
    B:"Cinder Enabled"=true
    B:"Khalk Enabled"=true
    B:"Lobber Enabled"=true
}


features {
    B:"Enable Scorchfire"=true

    # Set to false to disable Khalks from turning into a pile of lava on death.
    B:"Khalk Lava Death"=true

    # Set to false to disable Umber Lobbers melting certain blocks.
    B:"Rare Lobber Melting"=true
}


"group settings" {
    # Here you can set the Dungeon Theme of this mob group. These are used by Doomlike Dungeons and might be used by other things later. Multiple entries should be comma seperated.
    S:"Inferno Mobs Themes"=FIERY, NETHER, NECRO
}


##########################################################################################################
# peaceful mob
#--------------------------------------------------------------------------------------------------------#
# Here you may control whether or not each mob is allowed in Peaceful Difficulty.
##########################################################################################################

"peaceful mob" {
}


"peaceful mobs" {
    B:"Afrit On Peaceful"=false
    B:"Cephignis On Peaceful"=true
    B:"Cinder On Peaceful"=false
    B:"Khalk On Peaceful"=false
    B:"Lobber On Peaceful"=false
}


##########################################################################################################
# summoning costs
#--------------------------------------------------------------------------------------------------------#
# How much summoning focus each mob costs. This includes mobs that can't be summoned by the summoning staff as there might be other methods of summoning them in the future.
##########################################################################################################

"summoning costs" {
    I:"Afrit Summoning Cost"=2
    I:"Cephignis Summoning Cost"=1
    I:"Cinder Summoning Cost"=2
    I:"Khalk Summoning Cost"=6
    I:"Lobber Summoning Cost"=8
}


##########################################################################################################
# vanilla spawning
#--------------------------------------------------------------------------------------------------------#
# Here you may control settings that affect vanilla Minecraft.
##########################################################################################################

"vanilla spawning" {
    # If true, some vanilla spawns in this group's biomes will be removed, note that vanilla mobs should still be easy to find, only they will be more biome specific.
    B:"Edit Vanilla Spawning"=true
}


