# Configuration file

##########################################################################################################
# boosts
#--------------------------------------------------------------------------------------------------------#
# Here you can increase or decrease each stat by a specific amount. (Use a negative number to decrease.)
##########################################################################################################

boosts {
    # Damage dealt, both melee and ranged. 1 = half a heart.
    I:"Afrit Damage"=0

    # How much damage is blocked, minimum damage dealt is 1.
    I:"Afrit Defense"=0

    # Effect strengths and durations in ticks (20 ticks = 1 second).
    I:"Afrit Effect"=0

    # Attack and ability speeds in ticks. Average attack rate is 20 (1 second).
    I:"Afrit Haste"=0

    # The maximum amount of health each mob has. Already spawned mobs will not be affected by any changes. 1 health = half a heart.
    I:"Afrit Health"=0

    # Use to directly decrease or increase the piercing value. By default it is 5 so for every 5 damage dealt, 1 damage ignores armor. A positive boost lowers the attack required per armor piercing damage, therefore a boost of 2 will lower the piercing stat from 5 to 3.
    I:"Afrit Pierce"=0

    # Movement speed. Average speed is 28
    I:"Afrit Speed"=0

    # Damage dealt, both melee and ranged. 1 = half a heart.
    I:"Cephignis Damage"=0

    # How much damage is blocked, minimum damage dealt is 1.
    I:"Cephignis Defense"=0

    # Effect strengths and durations in ticks (20 ticks = 1 second).
    I:"Cephignis Effect"=0

    # Attack and ability speeds in ticks. Average attack rate is 20 (1 second).
    I:"Cephignis Haste"=0

    # The maximum amount of health each mob has. Already spawned mobs will not be affected by any changes. 1 health = half a heart.
    I:"Cephignis Health"=0

    # Use to directly decrease or increase the piercing value. By default it is 5 so for every 5 damage dealt, 1 damage ignores armor. A positive boost lowers the attack required per armor piercing damage, therefore a boost of 2 will lower the piercing stat from 5 to 3.
    I:"Cephignis Pierce"=0

    # Movement speed. Average speed is 28
    I:"Cephignis Speed"=0

    # Damage dealt, both melee and ranged. 1 = half a heart.
    I:"Cinder Damage"=0

    # How much damage is blocked, minimum damage dealt is 1.
    I:"Cinder Defense"=0

    # Effect strengths and durations in ticks (20 ticks = 1 second).
    I:"Cinder Effect"=0

    # Attack and ability speeds in ticks. Average attack rate is 20 (1 second).
    I:"Cinder Haste"=0

    # The maximum amount of health each mob has. Already spawned mobs will not be affected by any changes. 1 health = half a heart.
    I:"Cinder Health"=0

    # Use to directly decrease or increase the piercing value. By default it is 5 so for every 5 damage dealt, 1 damage ignores armor. A positive boost lowers the attack required per armor piercing damage, therefore a boost of 2 will lower the piercing stat from 5 to 3.
    I:"Cinder Pierce"=0

    # Movement speed. Average speed is 28
    I:"Cinder Speed"=0

    # Damage dealt, both melee and ranged. 1 = half a heart.
    I:"Khalk Damage"=0

    # How much damage is blocked, minimum damage dealt is 1.
    I:"Khalk Defense"=0

    # Effect strengths and durations in ticks (20 ticks = 1 second).
    I:"Khalk Effect"=0

    # Attack and ability speeds in ticks. Average attack rate is 20 (1 second).
    I:"Khalk Haste"=0

    # The maximum amount of health each mob has. Already spawned mobs will not be affected by any changes. 1 health = half a heart.
    I:"Khalk Health"=0

    # Use to directly decrease or increase the piercing value. By default it is 5 so for every 5 damage dealt, 1 damage ignores armor. A positive boost lowers the attack required per armor piercing damage, therefore a boost of 2 will lower the piercing stat from 5 to 3.
    I:"Khalk Pierce"=0

    # Movement speed. Average speed is 28
    I:"Khalk Speed"=0

    # Damage dealt, both melee and ranged. 1 = half a heart.
    I:"Lobber Damage"=0

    # How much damage is blocked, minimum damage dealt is 1.
    I:"Lobber Defense"=0

    # Effect strengths and durations in ticks (20 ticks = 1 second).
    I:"Lobber Effect"=0

    # Attack and ability speeds in ticks. Average attack rate is 20 (1 second).
    I:"Lobber Haste"=0

    # The maximum amount of health each mob has. Already spawned mobs will not be affected by any changes. 1 health = half a heart.
    I:"Lobber Health"=0

    # Use to directly decrease or increase the piercing value. By default it is 5 so for every 5 damage dealt, 1 damage ignores armor. A positive boost lowers the attack required per armor piercing damage, therefore a boost of 2 will lower the piercing stat from 5 to 3.
    I:"Lobber Pierce"=0

    # Movement speed. Average speed is 28
    I:"Lobber Speed"=0
}


##########################################################################################################
# multipliers
#--------------------------------------------------------------------------------------------------------#
# Here you can scale each mob stat,for instance setting 2 will double the stat, setting 0.5 will half it.
##########################################################################################################

multipliers {
    # Damage dealt, both melee and ranged.
    D:"Afrit Damage"=1.0

    # How much damage is blocked, minimum damage dealt is 1.
    D:"Afrit Defense"=1.0

    # Effect strengths and durations.
    D:"Afrit Effect"=1.0

    # Attack and ability speeds.
    D:"Afrit Haste"=1.0

    # The maximum amount of health each mob has. Already spawned mobs will not be affected by any changes. 1 health = half a heart.
    D:"Afrit Health"=1.0

    # Affects how much damage the mob deals that ignores armor. At 1.0 for every 5 damage dealt, 1 damage ignores armor. At 2.0 for every 3 (2.5 rouded) damage dealt 1 damage ignores armor. At 0.5 for every 10 damage dealt, 1 damage ignores armor.
    D:"Afrit Pierce"=1.0

    # Movement speed.
    D:"Afrit Speed"=1.0

    # Damage dealt, both melee and ranged.
    D:"Cephignis Damage"=1.0

    # How much damage is blocked, minimum damage dealt is 1.
    D:"Cephignis Defense"=1.0

    # Effect strengths and durations.
    D:"Cephignis Effect"=1.0

    # Attack and ability speeds.
    D:"Cephignis Haste"=1.0

    # The maximum amount of health each mob has. Already spawned mobs will not be affected by any changes. 1 health = half a heart.
    D:"Cephignis Health"=1.0

    # Affects how much damage the mob deals that ignores armor. At 1.0 for every 5 damage dealt, 1 damage ignores armor. At 2.0 for every 3 (2.5 rouded) damage dealt 1 damage ignores armor. At 0.5 for every 10 damage dealt, 1 damage ignores armor.
    D:"Cephignis Pierce"=1.0

    # Movement speed.
    D:"Cephignis Speed"=1.0

    # Damage dealt, both melee and ranged.
    D:"Cinder Damage"=1.0

    # How much damage is blocked, minimum damage dealt is 1.
    D:"Cinder Defense"=1.0

    # Effect strengths and durations.
    D:"Cinder Effect"=1.0

    # Attack and ability speeds.
    D:"Cinder Haste"=1.0

    # The maximum amount of health each mob has. Already spawned mobs will not be affected by any changes. 1 health = half a heart.
    D:"Cinder Health"=1.0

    # Affects how much damage the mob deals that ignores armor. At 1.0 for every 5 damage dealt, 1 damage ignores armor. At 2.0 for every 3 (2.5 rouded) damage dealt 1 damage ignores armor. At 0.5 for every 10 damage dealt, 1 damage ignores armor.
    D:"Cinder Pierce"=1.0

    # Movement speed.
    D:"Cinder Speed"=1.0

    # Damage dealt, both melee and ranged.
    D:"Khalk Damage"=1.0

    # How much damage is blocked, minimum damage dealt is 1.
    D:"Khalk Defense"=1.0

    # Effect strengths and durations.
    D:"Khalk Effect"=1.0

    # Attack and ability speeds.
    D:"Khalk Haste"=1.0

    # The maximum amount of health each mob has. Already spawned mobs will not be affected by any changes. 1 health = half a heart.
    D:"Khalk Health"=1.0

    # Affects how much damage the mob deals that ignores armor. At 1.0 for every 5 damage dealt, 1 damage ignores armor. At 2.0 for every 3 (2.5 rouded) damage dealt 1 damage ignores armor. At 0.5 for every 10 damage dealt, 1 damage ignores armor.
    D:"Khalk Pierce"=1.0

    # Movement speed.
    D:"Khalk Speed"=1.0

    # Damage dealt, both melee and ranged.
    D:"Lobber Damage"=1.0

    # How much damage is blocked, minimum damage dealt is 1.
    D:"Lobber Defense"=1.0

    # Effect strengths and durations.
    D:"Lobber Effect"=1.0

    # Attack and ability speeds.
    D:"Lobber Haste"=1.0

    # The maximum amount of health each mob has. Already spawned mobs will not be affected by any changes. 1 health = half a heart.
    D:"Lobber Health"=1.0

    # Affects how much damage the mob deals that ignores armor. At 1.0 for every 5 damage dealt, 1 damage ignores armor. At 2.0 for every 3 (2.5 rouded) damage dealt 1 damage ignores armor. At 0.5 for every 10 damage dealt, 1 damage ignores armor.
    D:"Lobber Pierce"=1.0

    # Movement speed.
    D:"Lobber Speed"=1.0
}


