# Configuration file

##########################################################################################################
# boosts
#--------------------------------------------------------------------------------------------------------#
# Here you can increase or decrease each stat by a specific amount. (Use a negative number to decrease.)
##########################################################################################################

boosts {
    # Damage dealt, both melee and ranged. 1 = half a heart.
    I:"Conba Damage"=0

    # How much damage is blocked, minimum damage dealt is 1.
    I:"Conba Defense"=0

    # Effect strengths and durations in ticks (20 ticks = 1 second).
    I:"Conba Effect"=0

    # Attack and ability speeds in ticks. Average attack rate is 20 (1 second).
    I:"Conba Haste"=0

    # The maximum amount of health each mob has. Already spawned mobs will not be affected by any changes. 1 health = half a heart.
    I:"Conba Health"=0

    # Use to directly decrease or increase the piercing value. By default it is 5 so for every 5 damage dealt, 1 damage ignores armor. A positive boost lowers the attack required per armor piercing damage, therefore a boost of 2 will lower the piercing stat from 5 to 3.
    I:"Conba Pierce"=0

    # Movement speed. Average speed is 28
    I:"Conba Speed"=0

    # Damage dealt, both melee and ranged. 1 = half a heart.
    I:"Concapede Damage"=0

    # How much damage is blocked, minimum damage dealt is 1.
    I:"Concapede Defense"=0

    # Effect strengths and durations in ticks (20 ticks = 1 second).
    I:"Concapede Effect"=0

    # Attack and ability speeds in ticks. Average attack rate is 20 (1 second).
    I:"Concapede Haste"=0

    # The maximum amount of health each mob has. Already spawned mobs will not be affected by any changes. 1 health = half a heart.
    I:"Concapede Health"=0

    # Use to directly decrease or increase the piercing value. By default it is 5 so for every 5 damage dealt, 1 damage ignores armor. A positive boost lowers the attack required per armor piercing damage, therefore a boost of 2 will lower the piercing stat from 5 to 3.
    I:"Concapede Pierce"=0

    # Damage dealt, both melee and ranged. 1 = half a heart.
    I:"Concapede Segment Damage"=0

    # How much damage is blocked, minimum damage dealt is 1.
    I:"Concapede Segment Defense"=0

    # Effect strengths and durations in ticks (20 ticks = 1 second).
    I:"Concapede Segment Effect"=0

    # Attack and ability speeds in ticks. Average attack rate is 20 (1 second).
    I:"Concapede Segment Haste"=0

    # The maximum amount of health each mob has. Already spawned mobs will not be affected by any changes. 1 health = half a heart.
    I:"Concapede Segment Health"=0

    # Use to directly decrease or increase the piercing value. By default it is 5 so for every 5 damage dealt, 1 damage ignores armor. A positive boost lowers the attack required per armor piercing damage, therefore a boost of 2 will lower the piercing stat from 5 to 3.
    I:"Concapede Segment Pierce"=0

    # Movement speed. Average speed is 28
    I:"Concapede Segment Speed"=0

    # Movement speed. Average speed is 28
    I:"Concapede Speed"=0

    # Damage dealt, both melee and ranged. 1 = half a heart.
    I:"Geken Damage"=0

    # How much damage is blocked, minimum damage dealt is 1.
    I:"Geken Defense"=0

    # Effect strengths and durations in ticks (20 ticks = 1 second).
    I:"Geken Effect"=0

    # Attack and ability speeds in ticks. Average attack rate is 20 (1 second).
    I:"Geken Haste"=0

    # The maximum amount of health each mob has. Already spawned mobs will not be affected by any changes. 1 health = half a heart.
    I:"Geken Health"=0

    # Use to directly decrease or increase the piercing value. By default it is 5 so for every 5 damage dealt, 1 damage ignores armor. A positive boost lowers the attack required per armor piercing damage, therefore a boost of 2 will lower the piercing stat from 5 to 3.
    I:"Geken Pierce"=0

    # Movement speed. Average speed is 28
    I:"Geken Speed"=0

    # Damage dealt, both melee and ranged. 1 = half a heart.
    I:"Tarantula Damage"=0

    # How much damage is blocked, minimum damage dealt is 1.
    I:"Tarantula Defense"=0

    # Effect strengths and durations in ticks (20 ticks = 1 second).
    I:"Tarantula Effect"=0

    # Attack and ability speeds in ticks. Average attack rate is 20 (1 second).
    I:"Tarantula Haste"=0

    # The maximum amount of health each mob has. Already spawned mobs will not be affected by any changes. 1 health = half a heart.
    I:"Tarantula Health"=0

    # Use to directly decrease or increase the piercing value. By default it is 5 so for every 5 damage dealt, 1 damage ignores armor. A positive boost lowers the attack required per armor piercing damage, therefore a boost of 2 will lower the piercing stat from 5 to 3.
    I:"Tarantula Pierce"=0

    # Movement speed. Average speed is 28
    I:"Tarantula Speed"=0

    # Damage dealt, both melee and ranged. 1 = half a heart.
    I:"Uvaraptor Damage"=0

    # How much damage is blocked, minimum damage dealt is 1.
    I:"Uvaraptor Defense"=0

    # Effect strengths and durations in ticks (20 ticks = 1 second).
    I:"Uvaraptor Effect"=0

    # Attack and ability speeds in ticks. Average attack rate is 20 (1 second).
    I:"Uvaraptor Haste"=0

    # The maximum amount of health each mob has. Already spawned mobs will not be affected by any changes. 1 health = half a heart.
    I:"Uvaraptor Health"=0

    # Use to directly decrease or increase the piercing value. By default it is 5 so for every 5 damage dealt, 1 damage ignores armor. A positive boost lowers the attack required per armor piercing damage, therefore a boost of 2 will lower the piercing stat from 5 to 3.
    I:"Uvaraptor Pierce"=0

    # Movement speed. Average speed is 28
    I:"Uvaraptor Speed"=0

    # Damage dealt, both melee and ranged. 1 = half a heart.
    I:"Vespid Damage"=0

    # How much damage is blocked, minimum damage dealt is 1.
    I:"Vespid Defense"=0

    # Effect strengths and durations in ticks (20 ticks = 1 second).
    I:"Vespid Effect"=0

    # Attack and ability speeds in ticks. Average attack rate is 20 (1 second).
    I:"Vespid Haste"=0

    # The maximum amount of health each mob has. Already spawned mobs will not be affected by any changes. 1 health = half a heart.
    I:"Vespid Health"=0

    # Use to directly decrease or increase the piercing value. By default it is 5 so for every 5 damage dealt, 1 damage ignores armor. A positive boost lowers the attack required per armor piercing damage, therefore a boost of 2 will lower the piercing stat from 5 to 3.
    I:"Vespid Pierce"=0

    # Damage dealt, both melee and ranged. 1 = half a heart.
    I:"Vespid Queen Damage"=0

    # How much damage is blocked, minimum damage dealt is 1.
    I:"Vespid Queen Defense"=0

    # Effect strengths and durations in ticks (20 ticks = 1 second).
    I:"Vespid Queen Effect"=0

    # Attack and ability speeds in ticks. Average attack rate is 20 (1 second).
    I:"Vespid Queen Haste"=0

    # The maximum amount of health each mob has. Already spawned mobs will not be affected by any changes. 1 health = half a heart.
    I:"Vespid Queen Health"=0

    # Use to directly decrease or increase the piercing value. By default it is 5 so for every 5 damage dealt, 1 damage ignores armor. A positive boost lowers the attack required per armor piercing damage, therefore a boost of 2 will lower the piercing stat from 5 to 3.
    I:"Vespid Queen Pierce"=0

    # Movement speed. Average speed is 28
    I:"Vespid Queen Speed"=0

    # Movement speed. Average speed is 28
    I:"Vespid Speed"=0
}


##########################################################################################################
# multipliers
#--------------------------------------------------------------------------------------------------------#
# Here you can scale each mob stat,for instance setting 2 will double the stat, setting 0.5 will half it.
##########################################################################################################

multipliers {
    # Damage dealt, both melee and ranged.
    D:"Conba Damage"=1.0

    # How much damage is blocked, minimum damage dealt is 1.
    D:"Conba Defense"=1.0

    # Effect strengths and durations.
    D:"Conba Effect"=1.0

    # Attack and ability speeds.
    D:"Conba Haste"=1.0

    # The maximum amount of health each mob has. Already spawned mobs will not be affected by any changes. 1 health = half a heart.
    D:"Conba Health"=1.0

    # Affects how much damage the mob deals that ignores armor. At 1.0 for every 5 damage dealt, 1 damage ignores armor. At 2.0 for every 3 (2.5 rouded) damage dealt 1 damage ignores armor. At 0.5 for every 10 damage dealt, 1 damage ignores armor.
    D:"Conba Pierce"=1.0

    # Movement speed.
    D:"Conba Speed"=1.0

    # Damage dealt, both melee and ranged.
    D:"Concapede Damage"=1.0

    # How much damage is blocked, minimum damage dealt is 1.
    D:"Concapede Defense"=1.0

    # Effect strengths and durations.
    D:"Concapede Effect"=1.0

    # Attack and ability speeds.
    D:"Concapede Haste"=1.0

    # The maximum amount of health each mob has. Already spawned mobs will not be affected by any changes. 1 health = half a heart.
    D:"Concapede Health"=1.0

    # Affects how much damage the mob deals that ignores armor. At 1.0 for every 5 damage dealt, 1 damage ignores armor. At 2.0 for every 3 (2.5 rouded) damage dealt 1 damage ignores armor. At 0.5 for every 10 damage dealt, 1 damage ignores armor.
    D:"Concapede Pierce"=1.0

    # Damage dealt, both melee and ranged.
    D:"Concapede Segment Damage"=1.0

    # How much damage is blocked, minimum damage dealt is 1.
    D:"Concapede Segment Defense"=1.0

    # Effect strengths and durations.
    D:"Concapede Segment Effect"=1.0

    # Attack and ability speeds.
    D:"Concapede Segment Haste"=1.0

    # The maximum amount of health each mob has. Already spawned mobs will not be affected by any changes. 1 health = half a heart.
    D:"Concapede Segment Health"=1.0

    # Affects how much damage the mob deals that ignores armor. At 1.0 for every 5 damage dealt, 1 damage ignores armor. At 2.0 for every 3 (2.5 rouded) damage dealt 1 damage ignores armor. At 0.5 for every 10 damage dealt, 1 damage ignores armor.
    D:"Concapede Segment Pierce"=1.0

    # Movement speed.
    D:"Concapede Segment Speed"=1.0

    # Movement speed.
    D:"Concapede Speed"=1.0

    # Damage dealt, both melee and ranged.
    D:"Geken Damage"=1.0

    # How much damage is blocked, minimum damage dealt is 1.
    D:"Geken Defense"=1.0

    # Effect strengths and durations.
    D:"Geken Effect"=1.0

    # Attack and ability speeds.
    D:"Geken Haste"=1.0

    # The maximum amount of health each mob has. Already spawned mobs will not be affected by any changes. 1 health = half a heart.
    D:"Geken Health"=1.0

    # Affects how much damage the mob deals that ignores armor. At 1.0 for every 5 damage dealt, 1 damage ignores armor. At 2.0 for every 3 (2.5 rouded) damage dealt 1 damage ignores armor. At 0.5 for every 10 damage dealt, 1 damage ignores armor.
    D:"Geken Pierce"=1.0

    # Movement speed.
    D:"Geken Speed"=1.0

    # Damage dealt, both melee and ranged.
    D:"Tarantula Damage"=1.0

    # How much damage is blocked, minimum damage dealt is 1.
    D:"Tarantula Defense"=1.0

    # Effect strengths and durations.
    D:"Tarantula Effect"=1.0

    # Attack and ability speeds.
    D:"Tarantula Haste"=1.0

    # The maximum amount of health each mob has. Already spawned mobs will not be affected by any changes. 1 health = half a heart.
    D:"Tarantula Health"=1.0

    # Affects how much damage the mob deals that ignores armor. At 1.0 for every 5 damage dealt, 1 damage ignores armor. At 2.0 for every 3 (2.5 rouded) damage dealt 1 damage ignores armor. At 0.5 for every 10 damage dealt, 1 damage ignores armor.
    D:"Tarantula Pierce"=1.0

    # Movement speed.
    D:"Tarantula Speed"=1.0

    # Damage dealt, both melee and ranged.
    D:"Uvaraptor Damage"=1.0

    # How much damage is blocked, minimum damage dealt is 1.
    D:"Uvaraptor Defense"=1.0

    # Effect strengths and durations.
    D:"Uvaraptor Effect"=1.0

    # Attack and ability speeds.
    D:"Uvaraptor Haste"=1.0

    # The maximum amount of health each mob has. Already spawned mobs will not be affected by any changes. 1 health = half a heart.
    D:"Uvaraptor Health"=1.0

    # Affects how much damage the mob deals that ignores armor. At 1.0 for every 5 damage dealt, 1 damage ignores armor. At 2.0 for every 3 (2.5 rouded) damage dealt 1 damage ignores armor. At 0.5 for every 10 damage dealt, 1 damage ignores armor.
    D:"Uvaraptor Pierce"=1.0

    # Movement speed.
    D:"Uvaraptor Speed"=1.0

    # Damage dealt, both melee and ranged.
    D:"Vespid Damage"=1.0

    # How much damage is blocked, minimum damage dealt is 1.
    D:"Vespid Defense"=1.0

    # Effect strengths and durations.
    D:"Vespid Effect"=1.0

    # Attack and ability speeds.
    D:"Vespid Haste"=1.0

    # The maximum amount of health each mob has. Already spawned mobs will not be affected by any changes. 1 health = half a heart.
    D:"Vespid Health"=1.0

    # Affects how much damage the mob deals that ignores armor. At 1.0 for every 5 damage dealt, 1 damage ignores armor. At 2.0 for every 3 (2.5 rouded) damage dealt 1 damage ignores armor. At 0.5 for every 10 damage dealt, 1 damage ignores armor.
    D:"Vespid Pierce"=1.0

    # Damage dealt, both melee and ranged.
    D:"Vespid Queen Damage"=1.0

    # How much damage is blocked, minimum damage dealt is 1.
    D:"Vespid Queen Defense"=1.0

    # Effect strengths and durations.
    D:"Vespid Queen Effect"=1.0

    # Attack and ability speeds.
    D:"Vespid Queen Haste"=1.0

    # The maximum amount of health each mob has. Already spawned mobs will not be affected by any changes. 1 health = half a heart.
    D:"Vespid Queen Health"=1.0

    # Affects how much damage the mob deals that ignores armor. At 1.0 for every 5 damage dealt, 1 damage ignores armor. At 2.0 for every 3 (2.5 rouded) damage dealt 1 damage ignores armor. At 0.5 for every 10 damage dealt, 1 damage ignores armor.
    D:"Vespid Queen Pierce"=1.0

    # Movement speed.
    D:"Vespid Queen Speed"=1.0

    # Movement speed.
    D:"Vespid Speed"=1.0
}


