# Configuration file

##########################################################################################################
# custom item drops
#--------------------------------------------------------------------------------------------------------#
# Allows for custom items drops per mob. Format is: mod:item,metadata,chance,min,max Multiple drops should be semicolon separated and chances are in decimal format. minecraft:wool;2;0.25;0;3 is Green Wool with a 25% drop rate and will drop 0 to 3 blocks. Be sure to use a colon for mod:item and semicolons for everything else.
##########################################################################################################

"custom item drops" {
    S:"Barghest Custom Drops"=
    S:"Beholder Custom Drops"=
    S:"Geonach Custom Drops"=
    S:"Jabberwock Custom Drops"=
    S:"Troll Custom Drops"=
    S:"Yale Custom Drops"=
}


##########################################################################################################
# default item drops
#--------------------------------------------------------------------------------------------------------#
# If false, only custom item drops are dropped.
##########################################################################################################

"default item drops" {
    B:"Barghest Default Drops"=true
    B:"Beholder Default Drops"=true
    B:"Geonach Default Drops"=true
    B:"Jabberwock Default Drops"=true
    B:"Troll Default Drops"=true
    B:"Yale Default Drops"=true
}


"dungeon level" {
    I:"Barghest Dungeon Level"=1
    I:"Beholder Dungeon Level"=2
    I:"Geonach Dungeon Level"=1
    I:"Jabberwock Dungeon Level"=0
    I:"Troll Dungeon Level"=2
    I:"Yale Dungeon Level"=-1
}


##########################################################################################################
# dungeon levels
#--------------------------------------------------------------------------------------------------------#
# The dungeon level of this mob, used by Doomlike Dungeons. -1 = Not for Dungeons, 0 = Common, 1 = Tough, 2 = Brute, 3 = Elite
##########################################################################################################

"dungeon levels" {
}


##########################################################################################################
# dungeon themes
#--------------------------------------------------------------------------------------------------------#
# Here you can set the Dungeon Theme of each mob. These are used by Doomlike Dungeons and might be used by other things later.
##########################################################################################################

"dungeon themes" {
    S:"Barghest Themes"=GROUP
    S:"Beholder Themes"=GROUP
    S:"Geonach Themes"=GROUP
    S:"Jabberwock Themes"=GROUP
    S:"Troll Themes"=GROUP
    S:"Yale Themes"=GROUP
}


##########################################################################################################
# enabled mobs
#--------------------------------------------------------------------------------------------------------#
# Here you can completely disable any mob.
##########################################################################################################

"enabled mobs" {
    B:"Barghest Enabled"=true
    B:"Beholder Enabled"=true
    B:"Geonach Enabled"=true
    B:"Jabberwock Enabled"=true
    B:"Troll Enabled"=true
    B:"Yale Enabled"=true
}


features {
    # Controls how large the Celestial Geonach's block breaking radius is when it is charging towards its target. Set to -1 to disable. For their block breaking radius on spawn, see the ROCK spawn type features instead. Note that this is only for the extremely rare Geonach.
    I:"Rare Geonach Block Break Radius"=0

    # Set to false to disable Troll block destruction.
    B:"Troll Griefing"=true
}


"group settings" {
    # Here you can set the Dungeon Theme of this mob group. These are used by Doomlike Dungeons and might be used by other things later. Multiple entries should be comma seperated.
    S:"Mountain Mobs Themes"=MOUNTAIN, WASTELAND, NECRO
}


##########################################################################################################
# peaceful mob
#--------------------------------------------------------------------------------------------------------#
# Here you may control whether or not each mob is allowed in Peaceful Difficulty.
##########################################################################################################

"peaceful mob" {
}


"peaceful mobs" {
    B:"Barghest On Peaceful"=false
    B:"Beholder On Peaceful"=false
    B:"Geonach On Peaceful"=false
    B:"Jabberwock On Peaceful"=false
    B:"Troll On Peaceful"=false
    B:"Yale On Peaceful"=true
}


##########################################################################################################
# summoning costs
#--------------------------------------------------------------------------------------------------------#
# How much summoning focus each mob costs. This includes mobs that can't be summoned by the summoning staff as there might be other methods of summoning them in the future.
##########################################################################################################

"summoning costs" {
    I:"Barghest Summoning Cost"=4
    I:"Beholder Summoning Cost"=6
    I:"Geonach Summoning Cost"=2
    I:"Jabberwock Summoning Cost"=2
    I:"Troll Summoning Cost"=6
    I:"Yale Summoning Cost"=1
}


##########################################################################################################
# vanilla spawning
#--------------------------------------------------------------------------------------------------------#
# Here you may control settings that affect vanilla Minecraft.
##########################################################################################################

"vanilla spawning" {
    # If true, some vanilla spawns in this group's biomes will be removed, note that vanilla mobs should still be easy to find, only they will be more biome specific.
    B:"Edit Vanilla Spawning"=true
}


