# Configuration file

##########################################################################################################
# area limits
#--------------------------------------------------------------------------------------------------------#
# Sets how many of each mob is allowed to naturally spawn near each other.
##########################################################################################################

"area limits" {
    I:"Chupacabra Area Limit"=3
    I:"Epion Area Limit"=5
    I:"Geist Area Limit"=3
    I:"Grue Area Limit"=5
    I:"Phantom Area Limit"=5
    I:"Shade Area Limit"=2
}


##########################################################################################################
# block costs
#--------------------------------------------------------------------------------------------------------#
# Only used by certain spawners. Sets how many blocks are required for spawning, such as how many blocks of Fire a Cinder requires.
##########################################################################################################

"block costs" {
    I:"Chupacabra Block Cost"=1
    I:"Epion Block Cost"=1
    I:"Geist Block Cost"=1
    I:"Grue Block Cost"=1
    I:"Phantom Block Cost"=1
    I:"Shade Block Cost"=1
}


##########################################################################################################
# despawning
#--------------------------------------------------------------------------------------------------------#
# Forces a mob to despawn naturally (unless tamed). Some farmable mobs such as Pinkies ignore their Natural Despawning setting once they've been fed or moved out of their home dimension.
##########################################################################################################

despawning {
    B:"Chupacabra Forced Despawning"=false
    B:"Chupacabra Natural Despawning"=false
    B:"Epion Forced Despawning"=false
    B:"Epion Natural Despawning"=true
    B:"Geist Forced Despawning"=false
    B:"Geist Natural Despawning"=true
    B:"Grue Forced Despawning"=false
    B:"Grue Natural Despawning"=true
    B:"Phantom Forced Despawning"=false
    B:"Phantom Natural Despawning"=true
    B:"Shade Forced Despawning"=false
    B:"Shade Natural Despawning"=false
}


##########################################################################################################
# dungeon weights
#--------------------------------------------------------------------------------------------------------#
# The higher the weight, the more likely this mob will appear in random dungeon spawners. Vanilla Zombie have a dungeon weight of 200.
##########################################################################################################

"dungeon weights" {
    D:"Chupacabra Dungeon Weight"=200.0
    D:"Epion Dungeon Weight"=150.0
    D:"Geist Dungeon Weight"=200.0
    D:"Grue Dungeon Weight"=200.0
    D:"Phantom Dungeon Weight"=200.0
    D:"Shade Dungeon Weight"=50.0
}


##########################################################################################################
# enabled spawns
#--------------------------------------------------------------------------------------------------------#
# Set to false to prevent mobs from spawning naturally at all.
##########################################################################################################

"enabled spawns" {
    B:"Chupacabra Spawning Enabled"=true
    B:"Epion Spawning Enabled"=true
    B:"Geist Spawning Enabled"=true
    B:"Grue Spawning Enabled"=true
    B:"Phantom Spawning Enabled"=true
    B:"Shade Spawning Enabled"=true
}


##########################################################################################################
# group settings
#--------------------------------------------------------------------------------------------------------#
# Here you can set the spawning settings for all mobs in this group that use the GROUP tag.
##########################################################################################################

"group settings" {
    S:"Shadow Mobs Spawn Biomes"=END
    S:"Shadow Mobs Spawn Dimensions"=1,-100

    # If true, the 'Spawn Dimensions' list will act as a whitelist instead of a blacklist.
    B:"Shadow Mobs Spawn Dimensions Whitelist Mode"=true
}


##########################################################################################################
# group sizes
#--------------------------------------------------------------------------------------------------------#
# Sets the minimum and maximum random size of a group spawned. Note with the vanilla spawn, large groups can reduce the spawning odds in biomes with lots trees, etc.
##########################################################################################################

"group sizes" {
    I:"Chupacabra Group Max"=3
    I:"Chupacabra Group Min"=1
    I:"Epion Group Max"=2
    I:"Epion Group Min"=1
    I:"Geist Group Max"=3
    I:"Geist Group Min"=1
    I:"Grue Group Max"=2
    I:"Grue Group Min"=1
    I:"Phantom Group Max"=2
    I:"Phantom Group Min"=1
    I:"Shade Group Max"=3
    I:"Shade Group Min"=1
}


##########################################################################################################
# spawn biomes
#--------------------------------------------------------------------------------------------------------#
# Sets which biomes this mob spawns in using Biome Tags. Multiple entries should be comma separated and can be subtractive if provided with a - in front. You can also have a mob skip the biome check completely if ALL is not working correctly for modded biomes.
##########################################################################################################

"spawn biomes" {
    S:"Chupacabra Spawn Biomes"=ALL
    B:"Chupacabra Spawn Ignores Biome Check"=false
    S:"Epion Spawn Biomes"=GROUP, SPOOKY
    B:"Epion Spawn Ignores Biome Check"=false
    S:"Geist Spawn Biomes"=GROUP, SPOOKY
    B:"Geist Spawn Ignores Biome Check"=false
    S:"Grue Spawn Biomes"=ALL
    B:"Grue Spawn Ignores Biome Check"=false
    S:"Phantom Spawn Biomes"=SPOOKY
    B:"Phantom Spawn Ignores Biome Check"=false
    S:"Shade Spawn Biomes"=ALL
    B:"Shade Spawn Ignores Biome Check"=false
}


##########################################################################################################
# spawn chances
#--------------------------------------------------------------------------------------------------------#
# Adds a forced spawn fail chance. A chance of 1.0 (100%) means that the mob will always spawn. A chance of 0.5 means it will have a 50% chance of spawning. Use this as a last resort as a failed spawn still takes up a spawning oppotunity.
##########################################################################################################

"spawn chances" {
    D:"Chupacabra Spawn Chance"=1.0
    D:"Epion Spawn Chance"=1.0
    D:"Geist Spawn Chance"=1.0
    D:"Grue Spawn Chance"=1.0
    D:"Phantom Spawn Chance"=1.0
    D:"Shade Spawn Chance"=1.0
}


##########################################################################################################
# spawn conditions
#--------------------------------------------------------------------------------------------------------#
# Various conditions that are checked at a spawn location when spawning mobs, such as light level.
##########################################################################################################

"spawn conditions" {
    B:"Chupacabra Spawns In Dark"=true
    B:"Chupacabra Spawns In Light"=false
    B:"Epion Spawns In Dark"=true
    B:"Epion Spawns In Light"=false
    B:"Geist Spawns In Dark"=true
    B:"Geist Spawns In Light"=false
    B:"Grue Spawns In Dark"=true
    B:"Grue Spawns In Light"=false
    B:"Phantom Spawns In Dark"=true
    B:"Phantom Spawns In Light"=false
    B:"Shade Spawns In Dark"=true
    B:"Shade Spawns In Light"=false
}


##########################################################################################################
# spawn dimensions
#--------------------------------------------------------------------------------------------------------#
# Sets which dimensions (by ID) that mobs WILL NOT spawn in. However if 'Spawn Dimensions Whitelist Mode' is set to true, it will instead set which dimensions they WILL ONLY spawn in. You may enter dimension IDs and/or GROUP to use the group settings. Multiple entries should be comma separated. Note that some Spawn Types ignore this such as the PORTAL type.
##########################################################################################################

"spawn dimensions" {
    S:"Chupacabra Spawn Dimensions"=-1
    B:"Chupacabra Spawn Dimensions Whitelist Mode"=false
    S:"Epion Spawn Dimensions"=-1, 1
    B:"Epion Spawn Dimensions Whitelist Mode"=false
    S:"Geist Spawn Dimensions"=GROUP
    B:"Geist Spawn Dimensions Whitelist Mode"=false
    S:"Grue Spawn Dimensions"=-1
    B:"Grue Spawn Dimensions Whitelist Mode"=false
    S:"Phantom Spawn Dimensions"=-1000
    B:"Phantom Spawn Dimensions Whitelist Mode"=false
    S:"Shade Spawn Dimensions"=-1
    B:"Shade Spawn Dimensions Whitelist Mode"=false
}


##########################################################################################################
# spawn types
#--------------------------------------------------------------------------------------------------------#
# Specifies how this mob spawns, multiple entries should be comma separated. Valid types are: MONSTER, CREATURE, WATERCREATURE, FIRE, FROSTFIRE, LAVA, ROCK, STORM. More will likely be added too.
##########################################################################################################

"spawn types" {
    S:"Chupacabra Spawn Types"=UNDERGROUND
    S:"Epion Spawn Types"=MONSTER, LUNAR
    S:"Geist Spawn Types"=UNDEATH, MONSTER
    S:"Grue Spawn Types"=UNDERGROUND, DARKNESS
    S:"Phantom Spawn Types"=DEATH, SLEEP, MONSTER
    S:"Shade Spawn Types"=UNDERGROUND, DARKNESS
}


##########################################################################################################
# spawn weights
#--------------------------------------------------------------------------------------------------------#
# The higher the weight, the more likely the mob will spawn randomly instead of others. Vanilla Zombies have a weight of 8.
##########################################################################################################

"spawn weights" {
    D:"Chupacabra Spawn Weight"=8.0
    D:"Epion Spawn Weight"=6.0
    D:"Geist Spawn Weight"=8.0
    D:"Grue Spawn Weight"=8.0
    D:"Phantom Spawn Weight"=8.0
    D:"Shade Spawn Weight"=2.0
}


